<div id="body-container" >
    <h2 class="text-center title-body" style="margin-top:0px; padding-top:20px" >VOS COMMANDES</h2>


          <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 meal-index-search text-center">
                  <h3 class="text-center"> Commande #<%= @order.id %></h3>
                    <% if @order_meals.exists? %>
                      <% @order_meals.each do |order_meal| %>
                      <div class="card col-xs-12" style="background-image: url('<%=image_path order_meal.meal.picture.url(:medium)%>')">
                        <p><%= order_meal.meal.name %> </p> <p><%= order_meal.price %> </p> </div>
                        <% end -%>

                    <% else %>

                      <p>Votre panier est vide.</p>
                    <% end %>

                </div>
              </div>
            </div>



                <div class="container text-center" id="price-box">
                  <div class="row">
                    <div style="margin:15px">
                      <h3>PRIX TOTAL TTC : <STRONG><%= number_to_currency(@total_price) %></STRONG></h3>
                    </div>
                    <div class="form-inline" style="margin:15px">
                     <div class="input-group">
                        <div style="margin: 10px"><%= link_to "Ajouter une commande", meals_path, class: "btn btn-primary" %></div>
                    </div>
                     <div class="input-group">
                        <div style="margin: 10px"><%= link_to "Retour sur l'index", root_path, class: "btn btn-warning" %></div>
                    </div>

                      <div style="margin: 10px"><%= link_to "Valider et payer", new_cart_payment_path, class: "btn btn-success btn-lg" %></div>

                    </div>
              </div>
           </div>
        </div>
</div>



