<div class="banner-index text-center">
  <div class="card-gradient" style="padding:1px">

    <h1 class="text-center">Vos commandes</h1>

      <div class="container">

        <h3 class="text-left"> Order #<%= @order.id %></h3>


          <% @order_meals.each do |order_meal| %>
          <p class="card col-xs-12" style="background-image: url('<%=image_path order_meal.meal.picture.url(:medium)%>')">
            <%= order_meal.meal.name %>  -  <%= number_to_currency(order_meal.price, :unit => "€") %> </p>
          <% end %>

      </div>

    <div style="margin:15px">
      <h3>Prix total de la commande : <STRONG><%= number_to_currency(@total_price, unit: "€") %></STRONG></h3>
    </div>

    <div style="margin:15px">
      <p class="btn btn-ajouter"><%= link_to "Ajouter un meal", meals_path %></p>
    </div>


  </div>
</div>


