<div id="body-container" >
  <div class="form-color">
    <div class="container-fluid">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center form-box" >
              <h3 class="form-header">Modifier <%= current_user.first_name %></h3>

              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                 <%= f.input :first_name, label: false , required: true, autofocus: true, input_html: {class:"form-input-text"}, placeholder:"Prénom" %>
                 <%= f.input :last_name, label:false, required: true, autofocus: true, input_html: {class:"form-input-text"}, placeholder:"Nom" %>
                 <%= f.input :phone_number, label: false, required: true, autofocus: true, input_html: {class:"form-input-text",:maxlength => 10}, placeholder:"Téléphone" %>
                  <%= f.input :email, required: true, autofocus: true, label:false, placeholder:"Email", input_html: {class:"form-input-text-labelized"} %>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                  <% end %>

                  <%= f.input :password, :autocomplete => 'off', hint: "laisser vide pour ne pas le changer", required: false, label:"Mot de passe" , input_html: {class:"form-input-text-labelized"} %>
                  <%= f.input :password_confirmation, required: false, label:"Confirmation du mot de passe", input_html: {class:"form-input-text-labelized"} %>
                  <%= f.input :current_password, hint: "vous avez besoin de votre mot de passe pour mettre à jour", required: false, label:"Mot de passe actuel", input_html: {class:"form-input-text-labelized"} %>



                  <%= f.button :submit, "Modifier", class:"btn-validation btn-waiting" %>

              <% end %>




        </div>




    </div>
  </div>
</div>
