<div id="body-container" >
  <div class="form-color">
    <div class="container-fluid">

      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center form-box" >
        <h3 class="form-header">CRÉER UN COMPTE</h3>



            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :first_name, label: false , required: true, autofocus: true, input_html: {class:"form-input-text"}, placeholder:"Prénom" %>
                <%= f.input :last_name, label:false, required: true, autofocus: true, input_html: {class:"form-input-text"}, placeholder:"Nom" %>
                <%= f.input :email, required: true, autofocus: true, label:false, input_html: {class:"form-input-text"}, placeholder:"Email" %>
                <%= f.input :phone_number, label: false, required: true, autofocus: true, input_html: {class:"form-input-text"}, placeholder:"Téléphone" %>
                <%= f.input :restaurant_owner, :as => :hidden, input_html: { :value => false } %>
                <%= f.input :password, label:false, required: true, input_html: {class:"form-input-text"}, placeholder:"Mot de passe - Minimum 8 caractères" %>
                <%= f.input :password_confirmation, label:false, required: true, input_html: {class:"form-input-text"}, placeholder:"Confirmation mot de passe" %>
                <div class="form-input-checkbox">
                    <%= f.input :cgv, as: :boolean, checked_value: true, unchecked_value: false, label:("J'ai lu et j'accepte les #{link_to "conditions générales d'utilisation", conditionsgenerales_path} ainsi que la #{link_to "charte de l'utilisateur", charteutilisateur_path}").html_safe %>
                    <%= f.input :notification, label:"Je veux recevoir une notification lorsqu'une offre est proposée dans ma zone",  id:"notification" %>
                </div>
                <div id="address-box">
                  <label for="">
                    Entrez l'adresse autour de laquelle vous souhaitez être notifié:
                  </label>
                  <%= text_field_tag :full_addressuser_input_autocomplete_address, '', id:"user_input_autocomplete_address", class:"form-control form-input-text"   %>

                  <%= f.input :street, :as => :hidden, label: "Numéro de votre rue", input_html: { id: "street" } %>
                  <%= f.input :postal_code, :as => :hidden, label: "Code postal", input_html: {id: "postal_code"} %>
                  <%= f.input :locality, :as => :hidden, label: "Ville", input_html: {id: "locality"} %>
                </div>
          </div>


        <div class="form-actions">
          <%= f.button :submit, "Valider", class: " btn btn-validation" %>
        </div>
      <% end %>



    </div>
  </div>
</div>








