<p>Bonjour <%= @user.first_name %>,</p>

<p>Regarde les offres La Box du Chef autour de chez toi : </p>

<p> <%= @meal.name %> pour seulement <%= @meal.price  %>
Cette offre est située <%= @meal.restaurant.street %>, <%= @meal.restaurant.locality %>, <%= @meal.restaurant.postal_code  %></p>


<a href="www.laboxduchef.org", class="btn btn_primary"> Cliquez ici pour accéder à l'offre</a>

<p>A bientôt,</p>

<p>Emmanuel</p>
