<p>Bonjour <%= @user.first_name %> <%= @user.first_name %>,</p>


<p>Votre commande a bien été prise en compte.</p>
<p>Vous avez commandé <%= @quantity %> <%=@name%></p>
<p>Ce repas est à récupérer dans le restaurant:<%= @restaurant.name %> </p>

<p>Prix total TTC: <%= @amount %></p>


<p>Délicieusement votre,</p>

<p>L’équipe de La Box Des Chefs</p>
