
<div class="banner-index" id="banner-container">
  <div class="container" >
     <div class="row ">

            <div class="col-xs-12 col-sm-12 ">
              <div  class="text-center" >
                <h1 class="hidden-xs title-home-lg"> MANGEZ MIEUX, MOINS CHER,
                  <p> LUTTEZ CONTRE LE GASPILLAGE </p>

                  <b class="sub-sub-title-home-lg" style='background-color:#BA8946;padding:10px;'>DES PLATS DE RESTAURANTS JUSQU'A TROIS FOIS MOINS CHERS</b>
                  </h1>
                  <h1 class="visible-xs hidden-sm hidden-md hidden-lg title-home-xs"> <p> MANGEZ MIEUX, MOINS CHER, LUTTEZ CONTRE LE GASPILLAGE !</p>
                  <h1>
                  <p class="sub-title-home-xs hidden-sm hidden-lg" style='background-color:#BA8946;padding:10px;'>DES PLATS DE RESTAURANTS JUSQU'A TROIS FOIS MOINS CHERS</p>




                </div>
            </div>
      </div>
  </div >

            <div class="text-center col-xs-12 col-sm-6 col-sm-offset-3">
                 <%= simple_form_for @newsletter do |f| %>



              <div class="col-xs-12" style='padding-right:0px;margin-bottom:50px;'>


                  <%= f.input :email, class:"form-control", placeholder:"marinalaporte@gmail.com", label:'ENTREZ VOTRE EMAIL POUR ÊTRE INFORMÉ' %>
                   <%= f.button :submit, "ME TENIR INFORMÉ", class: "btn-primary " %>


              </div>



               <% end %>

            </div>






  <div class="row">
    <div class="col-xs-12 filter-hiw text-center">
          <h4 class="text-center" style="padding-bottom:30px;" > <strong> FONCTIONNEMENT  </strong></h4>
      <div>
        <div class="text-center col-xs-6 col-sm-3">
          <%= image_tag ("eshop.png"), size:"60x65"%>
          <p><p><STRONG>1.</STRONG></p> COMMANDEZ VOTRE BOX </p>
        </div>
        <div class="text-center col-xs-6 col-sm-3">
          <%= image_tag ("walker.png"), size:"60x65" %>
          <p><p><STRONG>2.</STRONG></p> RENDEZ-VOUS DANS LE RESTAURANT PARTENAIRE</p>
        </div>
        <div class="text-center col-xs-6 col-sm-3">
          <%= image_tag ("foodbox.png"), size:"65x65" %>
          <p><p><STRONG>3.</STRONG></p> RECUPÉREZ VOTRE BOX</p>
        </div>
        <div class="text-center col-xs-6 col-sm-3">
          <%= image_tag ("eating.png"), size:"65x65" %>
          <p><p><STRONG>4.</STRONG></p> BON APPÉTIT !</p>
        </div>
      </div>
    </div>
  </div>



    <div class="row" >
      <div class="col-xs-6 off-set-3 filter-philosophie ">
        <h3 class="text-center"> <strong>NOTRE DEMARCHE </strong> </h3>
        <h4 class="subtitle-philosophie">  <strong> MISSIONS  </strong></h4>
          <p>1 LIMITER LE GASPILLAGE ALIMENTAIRE DANS LES RESTAURANTS EN VALORISANT LEURS INVENDUS</p>
          <p>2. PERMETTRE A NOS UTILISATEURS DE MANGER DE BONS PLATS SERVIS EN RESTAURANT À PETIT PRIX !</p>
         <h4 class="subtitle-philosophie">  <strong> CONCEPT  </strong></h4>
         <p> TOUS LES JOURS LES RESTAURANTS PARTENAIRES METTENT EN LIGNE LES SURPLUS QU'ILS ONT SUR UN PLAT: QUANTITÉ, PRIX, HORAIRES DE RETRAIT</p>
         <p>CES PORTIONS VENDUES À PRIX CASSÉES SONT À VENIR CHERCHER DANS LES RESTAURANTS PARTENAIRES</p>
         <p> APRÈS VOUS ÊTRE LOCALISÉS VOUS POUVEZ CONSULTER LES OFFRES PRÈS DE CHEZ VOUS ET RÉSERVER VOTRE PORTION; VOUS PERMETTANT DE BIEN MANGER À PETIT PRIX ET DE LUTTER CONTRE LE GASPILLAGE !!</p>
        <p class="text-center"> <strong>BON APPÉTIT !!</strong></p>

    </div>


</div>




