
      <div id="modal-<%=order.id%>" class="modal order_modal">
        <div class="modal-order-global-box text-center">
          <div class='modal-header'>
            <h3> <%= order.meal.name %> x  <%= order.quantity %></h3>
          </div>
          <div class='modal-body'>
           <h4>Acheteur: <%= order.user.first_name %> <%= order.user.last_name %></h4>
          </div>
          <button type="btn-success" data-dismiss="modal" class="btn btn-success btn-margin">Fermer</button>
        </div>
      </div>




