
  <div class="row restaurant_profil-box">
    <div class="col-xs-12 col-sm-12 text-center " id="restaurant-profil-box " >
      <div class="form-group" >
        <h4>ÉTALISSEMENT(S)</h4>
          <% current_user.restaurants.each do |restaurant| %>
          <div class="restaurant-name-edit">
            <p><%= restaurant.name.upcase %></p>
            <p><%= link_to "Modifier", edit_restaurant_path, class: "btn btn-primary padding-btn-profil btn-xs" %> </p>
          </div>
            <%= image_tag restaurant.picture.url(:thumb), class: "img-thumbnail padding-btn-profil"  %>
          </div>
          <div class="form-group" >
            <%= link_to "Ajouter une offre", new_restaurant_meal_path(restaurant), class: "btn btn-success padding-btn-profil btn-sm" %>
           </div>
          <% end %>

    </div>
  </div>


      <div class="row dashbord-restaurant">
        <h4 class="text-center">VOS OFFRES EN COURS</h4>
       <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>

                <tr>

                  <th>Nom</th>
                  <th>Prix</th>
                  <th>Stock</th>
                  <th>Modifier</th>

                </tr>
                  </thead>
                    <%  @restaurants.each do |restaurant| %>
                      <% restaurant.meals.where(active: true).find_each do |meal| %>
                        <tbody>
                          <tr>

                            <td><%= link_to meal.name, meal_path(meal), class: "btn btn-primary btn-xs" %> </td>
                            <td ><%= number_to_currency(meal.price, :unit => "€") %></td>
                            <td ><%= meal.stock %></td>
                            <td ><%= link_to "Modifier", edit_restaurant_meal_path(restaurant, meal), class: "btn btn-warning btn-xs" %></td>

                          </tr>
                        </tbody>
                      <% end %>
                    <% end %>
              </table>
            </div>
        </div>
    </div>



<div class="row dashbord-restaurant">
  <div class="col-xs-12">
    <h4 class="text-center">DERNIÈRES COMMANDES</h4>

      <div class="table-responsive">
        <table class="table table-hover" >
          <thead>
             <tr>
              <th>Date</th>
              <th>Commande</th>
              <th>Prix total</th>
              <th>A percevoir</th>
              <th>Statut</th>
            </tr>
          </thead>
            <% @meals.each do |meal| %>
              <% meal.order_meals.last(10).each do |order_meal| %>
                <% if order_meal.order.status == "confirmed" || order_meal.order.status == "paid"  %>


                <tbody>
                <tr>
                  <td><%= order_meal.order.created_at.strftime("%d/%m/%y") %></td>
                  <td><strong><%= link_to "Numéro: #{order_meal.order.id}", order_path(order_meal.order), class: "btn btn-success btn-xs" %></strong></td>
                  <td><%= number_to_currency(order_meal.order.amount, :unit => "€") %></td>
                  <td><%= number_to_currency(order_meal.order.amount.to_i - 1*1.2*order_meal.quantity) %></td>
                  <td><%= order_meal.order.status %></td>
                </tr>
              </tbody>

              <% else %>
              <% end %>

              <% end -%>
            <% end -%>
          </ul>
        </table>
      </div>

    </div>

     <div class='text-center'>
     <%= link_to "Mes payements", orders_path(@order), class: "btn btn-success btn-sm btn-margin" %>
     </div>

</div>











