<!-- Restaurant profil -->
<div class="row restaurant_profil-box" >
  <div class="col-xs-12 col-sm-12 text-center " id="restaurant-profil-box" >
    <div class="form-group" >
      <h4>ÉTALISSEMENT</h4>
        <div class="restaurant-name-edit">
          <p><%= @restaurant.name.upcase %></p>
          <p><%= link_to "Modifier", edit_restaurant_path, class: "btn btn-primary padding-btn-profil btn-xs btn-waiting" %> </p>
        </div>
          <%= image_tag @restaurant.picture.url(:thumb), class: "user_restaurant_img"  %>
        </div>
        <div class="form-group" >
          <%= link_to "Ajouter une offre", new_restaurant_meal_path(@restaurant.id), class: "btn btn-new-deal btn-waiting" %>
        </div>
    </div>
</div>
<!-- Restaurant profil -->
<!-- List of current deals -->
<div class="row dashbord-restaurant">
  <h4 class="text-center form-header">OFFRES EN COURS</h4>
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Modifier</th>
          </tr>
        </thead>
        <% @meals.reverse_each do |meal| %>
        <% if @meals.count >= 1 %>
          <%= render 'meal_infos', :meal => meal %>
         <% end -%>
        <tbody >
          <tr data-toggle="modal" data-target="#modal-<%=meal.id%>">
            <td><%= link_to meal.name, "", class: "btn btn-primary btn-xs", data: { toggle: "modal", target: "#modal-#{meal.id}"} %> </td>
            <td ><%= number_to_currency(meal.price, :unit => "€") %></td>
            <td ><%= meal.stock %></td>
            <td ><%= link_to "Modifier", edit_restaurant_meal_path(@restaurant, meal), class: "btn btn-warning btn-xs" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<!-- List of current deals -->
<!-- List of last 10 orders -->
<div class="row dashbord-restaurant">
  <h4 class="text-center form-header">MES 10 DERNIÈRES COMMANDES</h4>
  <div class="col-xs-12">
    <div class="table-responsive">
        <table class="table table-hover" >
          <thead>
             <tr>
              <th>Date</th>
              <th>Commande</th>
              <th>Prix total</th>
              <th>Statut</th>
            </tr>
          </thead>
              <% @orders.last(10).reverse_each do |order| %>
                <% if order.status == "confirmed" || order.status == "paid"  %>
                  <%= render 'order_infos', :order => order %>
                  <tbody>
                    <tr data-toggle="modal" data-target="#modal_order_<%=order.id%>">
                      <td><%= order.created_at.strftime("%d/%m/%y") %></td>
                      <td><strong><%= link_to "Numéro: #{order.id}","", data: { toggle: "modal", target: "#modal_order_#{order.id}"}, class: "btn btn-success btn-xs" %></strong></td>
                      <td><%= number_to_currency(order.amount, :unit => "€") %></td>
                      <td>
                        <% if order.status == "confirmed" %>
                          <span class="status_confirmed">confirmé</span>
                        <% elsif order.status == "paid" %>
                           <span class="status_paid">payé<span>
                        <% else %>
                           <span class="unknown_status">inconnu<span>
                        <% end -%>
                      </td>
                    </tr>
                 </tbody>
              <% end %>
            <% end -%>
        </table>
      </div>
    </div>
   <div class='text-center'>
   <%= link_to "Mes paiements", orders_path(@order), class: "btn btn-my-payments btn-margin btn-waiting" %>
   </div>
</div>
<!-- List of last 10 orders -->








