
<div class="row ">
  <div class="text-center col-xs-12 col-sm-12" id="profil-box">
    <div class="form-inline">
      <div class="input-group">
        <h4 class="hidden-xs">Bienvenue sur votre compte <%= current_user.first_name %></h4>
      </div>
      <div class="input-group">
        <div><%= link_to "Modifier mes infos", edit_user_registration_path(current_user), class: "btn btn-primary" %></div>
      </div>
    </div>
  </div>
</div>

<% if current_user.restaurant_owner? %>

  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center " id="restaurant-profil-box" >
      <div class="form-group" >
          <h4>ÉTALISSEMENT(S)</h4>
          <% current_user.restaurants.each do |restaurant| %>
            <p><%= restaurant.name.upcase %></p>
            <%= image_tag restaurant.picture.url(:thumb), class: "img-thumbnail padding-btn-profil"  %>
        </div>
        <div class="form-group" >
          <%= link_to "Modifier", edit_restaurant_path, class: "btn btn-primary padding-btn-profil" %>
        </div>
          <div class="form-group" >
            <%= link_to "Ajouter un deal", new_restaurant_meal_path(restaurant), class: "btn btn-success padding-btn-profil" %>
          </div>
        <% end %>

      </div>
    </div>

        <div class="row dashbord-restaurant">

              <h4 class="text-center">VOS OFFRES EN COURS</h4>
                <table class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Mise en ligne</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Qté</th>
                        <th>Modifier</th>
                      </tr>
                    </thead>
                    <%  @restaurants.each do |restaurant| %>
                      <% restaurant.meals.each do |meal| %>
                        <tbody>
                            <tr>
                              <td><%= meal.starting_date %></td>
                              <td><%= link_to meal.name, meal_path(meal), class: "btn btn-primary btn-xs" %> </td>
                              <td ><%= number_to_currency(meal.price, :unit => "€") %></td>
                              <td ><%= meal.quantity %></td>

                              <td ><%= link_to image_tag("gants.png", size: "50x50", color:"grey"), edit_restaurant_meal_path(restaurant, meal) %></td>
                            </tr>
                        </tbody>
                         <% end %>
                      <% end %>
                  </table>
                </table>


          </div>



          <div class="row dashbord-restaurant">

           <div class="col-xs-12">
              <h4 class="text-center">COMMANDES </h4>

                <table class="table-responsive">
                  <table class="table table-hover" >
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Commande</th>
                      <th>Prix total</th>
                      <th>Commission</th>
                      <th>A percevoir</th>



                    </tr>
                  </thead>
                      <% @paid_orders.each do |order| %>
                        <tbody>
                        <tr>
                          <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
                          <td><strong><%= link_to "Numéro: #{order.id}", order_path(order), class: "btn btn-success btn-xs" %></strong></td>
                          <td><%= order.amount %></td>
                          <td><%= order.amount * 0.20 %></td>
                          <td><%= order.amount * 0.80 %></td>
                        </tr>
                      </tbody>
                    <% end %>


                </table>
              </table>
            </div>

          </div>



  <% else %>



      <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">

           <h1><%= @last_order.order_meals.first.meal.name %></h1>
           <div class="col-m-4 col-md-4">
           <div class="thumbnail"><%= image_tag @last_order.order_meals.first.meal.picture.url(:thumb) %></div>
         </div>


            <div>
              <p><strong><%= @last_order.order_meals.first.meal.restaurant.name %></strong></p>
              <p>Tel: <%= @last_order.order_meals.first.meal.restaurant.phone_number %></p>
              <%= @last_order.order_meals.first.meal.restaurant.street %>
              <%= @last_order.order_meals.first.meal.restaurant.postal_code %>
              <%= @last_order.order_meals.first.meal.restaurant.locality %>
            <p><strong>Horaires de retrait</strong></p>
            <p><%= @last_order.order_meals.first.meal.take_away_noon_starts_at.strftime('%H:%M') %> <%= @last_order.order_meals.first.meal.take_away_noon_ends_at.strftime('%H:%M') %> -
            <%= @last_order.order_meals.first.meal.take_away_evening_starts_at.strftime('%H:%M') %> <%= @last_order.order_meals.first.meal.take_away_evening_ends_at.strftime('%H:%M') %></p>
            </div>



        </div>
      </div>

    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-offset-3">
        <h4>Itinéraire <i class="fa fa-map-marker"></i></h4>
        <div id="map" style="width:100%; height:450px;"></div>
      </div>
    </div>


     <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @restaurant_coordinates.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
          <% end %>
        <% end %>
  </div>





</div>
<% end %>



