<div class="show-user">

  <div class="container-fluid" style="margin-top:100px">
    <h1 class="text-center">Bienvenue sur votre compte <%= current_user.first_name %></h1>

<% if current_user.restaurant_owner? %>

  <div class="container" style="margin: 100px;">
    <div class="row">
      <div class="col-md-6 text-center">
      <% if current_user.restaurants.empty? %>
        <p>Merci de bien vouloir ajouter votre établissement<p>
          <%= link_to content_tag(:i, nil, class: "fa fa-plus-circle fa-3x"), new_restaurant_path %>
      <% else %>
      <h1><%= current_user.restaurants.each do |restaurant| %></h1>
            <%= restaurant.name %>
            <%= image_url restaurant.picture.url(:medium) %>
          <% end %>
        <% end %>
      </div>

      <div class="col-md-6 text-center">
        <p>Ajouter un deal<p>
        <%= link_to content_tag(:i, nil, class: "fa fa-plus-circle fa-3x"), new_meal_path %>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <h1>Derniers plats ajoutés</h1>
      </div>
      <div class="col-md-6 text-center">
        <h1>TO DO gerer ses deals</h1>
      </div>
    </div>

<% else %>
  <h1>Mes dernières commandes</h1>
    <p>TO DO tableau avec les orders + prix + quantité </p>


<% end %>

</div>
</div>
</div>
