


    <div class="row ">
         <div class=" text-center col-xs-12 col-sm-12 " id="profil-box">
            <div class="form-inline">
                <div class="input-group">
                  <h4 class="hidden-xs">Bienvenue sur votre compte <%= current_user.first_name %></h4>
                </div>
                <div class="input-group">
                    <div><%= link_to "Modifier mes infos", edit_user_registration_path(current_user), class: "btn btn-primary" %></div>
                </div>
            </div>
         </div>
    </div>

  <% if current_user.restaurant_owner? %>

        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center " id="restaurant-profil-box" >
                <% if current_user.restaurants.empty? %>
                  <p>Merci de bien vouloir ajouter votre établissement<%= link_to image_tag("moustache.png", size:"50x50"), new_restaurant_meal_path %><p>

                <% else %>
                <h4>ÉTALISSEMENT(S)</h4>
                  <% current_user.restaurants.each do |restaurant| %>
                    <p><%= restaurant.name.upcase %></p>
                    <%= image_tag restaurant.picture.url(:thumb), class: "img-thumbnail padding-btn-profil"  %>

                      <%= link_to "Modifier", edit_restaurant_path, class: "btn btn-primary padding-btn-profil" %>
                      <%= link_to "Ajouter un deal", new_restaurant_meal_path(restaurant), class: "btn btn-success padding-btn-profil" %>

                  <% end %>
                <% end %>
            </div>
        </div>


          <div class="spacer"></div>
          <div class="row">
            <div class="col-xs-12 col-md-6 text-center">
              <div class="opacity">
              <h1>Mes plats en ligne</h1>

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Désignation</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Modifier</th>
                      </tr>
                    </thead>
                    <% current_user.restaurants.each do |restaurant| %>
                      <% restaurant.meals.each do |meal| %>
                        <tbody>
                            <tr>
                              <td><strong><%= link_to meal.name, restaurant_meal_path(restaurant, meal), class: "style-table" %></strong></td>
                              <td class="style-table"><%= number_to_currency(meal.price, :unit => "€") %></td>
                              <td class="style-table"><%= meal.quantity %></td>
                              <td class="style-table"><%= link_to image_tag("gants.png", size: "50x50", color:"grey"), edit_restaurant_meal_path(restaurant, meal) %></td>
                            </tr>
                        </tbody>
                         <% end %>
                      <% end %>
                  </table>
                </div>
            </div>


            <div class="col-xs-12 col-md-6 text-center">
              <div class="opacity">
              <h1>Commandes </h1>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Item</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <% current_user.orders.each do |order| %>
                  <tbody>
                    <tr>
                      <td class="style-table"><%= order.created_at.strftime("%Y-%m-%d") %></td>
                      <td class="style-table">
                        <ul class="list-unstyled">
                           <% order.order_meals.each do |order_meal| %>
                              <li><%= order_meal.meal.name %></li>
                            <% end %>
                        </ul>
                      </td>
                      <td class="style-table"><%= order.status %></td>
                    </tr>
                  </tbody>
                  <% end %>
                </table>
              </div>
            </div>
          </div>


        <% else %>
      <div class="spacer"></div>
      <div class="opacity">
        <h1 class="text-center">Mes commandes</h1>
         <div class="row">
          <div class="col-md-6 col-md-offset-3">
             <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Désignation</th>
                        <th>Quantité</th>
                        <th>Prix</th>

                      </tr>
                    </thead>
                      <% current_user.orders.each do |order| %>
                          <% order.order_meals.each do |order_meal| %>
                            <tbody>
                              <tr>
                                <td class="style-table"><%= order_meal.created_at.strftime("%Y-%m-%d") %></td>
                                <td class="style-table"><%= order_meal.meal.name %></td>
                                <td class="style-table"><%= order_meal.quantity %></td>
                                <td class="style-table"><%= number_to_currency(order_meal.price, :unit => "€") %></td>
                              </tr>
                            </tbody>
                         <% end %>
                      <% end %>
                </table>
           </div>
        </div>
      </div>

          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
              <h2><%= link_to "Commander ici", meals_path, class: "btn-book" %>
              <%= image_tag ("eating.png"), size:"100x100" %></h2>
            </div>
          </div>



           <% end %>
          </div>

