<div class="visible-xs hidden-sm visible-md hidden_lg ">
  <div class="footer-home-xs text-center" >
    <div class="text-center">
      <p>
        <%= link_to "Restaurants, inscrivez-vous", partner_sign_up_path, class: "share-links-item", style: "font-size:16px" %>
        <%= link_to "Pourquoi nous rejoindre", espacerestaurants_path, class: "share-links-item", style: "font-size:16px" %>
        <%= link_to "Nous contacter", new_contact_path, class: "share-links-item", style: "font-size:16px" %>
         <%= link_to "Cvg",conditionsgenerales_path, class: "share-links-item", style: "font-size:16px"%>
         <%= link_to "Charte du partenaire",chartepartenaire_path, class: "share-links-item", style: "font-size:16px"%>
          <%= link_to "Charte de l'utilisateur",charteutilisateur_path, class: "share-links-item", style: "font-size:16px"%>
      </p>
    </div>
    <a href="#" class="share-links-item share-links-item-hover bg-facebook">
      <i class="fa fa-facebook" style="font-size:30px"></i>
    </a>
    <p class="signature_footer_xs">
      2015 © LA BOX DES CHEFS
    </p>
  </div>
</div>
