
    <div class="hidden-xs ">

    <div class="footer footer-fixed share-links" style="padding:70px">

     <p style="font-size:16px">
      2015 © LA BOX DU CHEF
    </p>


      <a href="#" class="share-links-item share-links-item-hover bg-facebook">
        <i class="fa fa-facebook" style="font-size:50px"></i>
      </a>
      <a href="#" class="share-links-item share-links-item-hover bg-twitter">
        <i class="fa fa-twitter" style="font-size:50px"></i>
      </a>
      <a href="#" class="share-links-item share-links-item-hover bg-email">
        <i class="fa fa-envelope-o" style="font-size:50px"></i>
      </a>



    <ul class="footer-links">
      <li>
        <%= link_to "Fonctionnement", fonctionnement_path, class: "share-links-item", style: "font-size:16px" %>
      </li>
      <li>
        <%= link_to "Espace restaurants", espacerestaurants_path, class: "share-links-item", style: "font-size:16px" %>
      </li>
       <li>
        <%= link_to "Nous contacter", new_contact_path, class: "share-links-item", style: "font-size:16px" %>
      </li>
    </ul>


    <ul class="footer-links">
      <li>
      <%= link_to "Cvg",conditionsgenerales_path, class: "share-links-item", style: "font-size:16px"%>
      </li>
      <li>
      <%= link_to "Charte du partenaire",chartepartenaire_path, class: "share-links-item", style: "font-size:16px"%>
      </li>
       <li>
      <%= link_to "Charte du consommateur",charteutilisateur_path, class: "share-links-item", style: "font-size:16px"%>
      </li>
    </ul>



    </div>




    </div>

