<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>

          <%= image_tag "logo3.png", size:"210x30", style:"margin-top:10px; margin-left:10px;"  %>


      <% end %>


    </div>
     <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
           <% if current_user.restaurant_owner? %>

              <% if current_user.restaurants.empty? %>
                <li><%= link_to "AJOUTER SON RESTAURANT", new_restaurant_path %> </li>
                <li> <%= link_to "FONCTIONNEMENT", fonctionnement_path  %></li>
                <li> <%= link_to "CONTACT", new_contact_path %></li>
                <li> <%= link_to "DECONNEXION", destroy_user_session_path, method: :delete %> </li>
               <% else %>
                 <% current_user.restaurants.each do |restaurant| %>
                  <li><%= link_to "AJOUTER UNE OFFRE", new_restaurant_meal_path(restaurant) %> </li>
                  <% end -%>
                  <li><%= link_to "TABLEAU DE BORD", user_path(current_user) %> </li>
                  <li> <%= link_to "FONCTIONNEMENT", fonctionnement_path %></li>
                  <li> <%= link_to "CONTACT", new_contact_path %></li>
                  <li> <%= link_to "DECONNEXION", destroy_user_session_path, method: :delete %> </li>
               <% end -%>

            <% else %>


              <li><%= link_to "MON ESPACE", user_path(current_user) %> </li>
              <li> <%= link_to "FONCTIONNEMENT", fonctionnement_path  %></li>
              <li> <%= link_to "CONTACT", new_contact_path %></li>
              <li> <%= link_to "DECONNEXION", destroy_user_session_path, method: :delete %> </li>
            <% end -%>
        </ul>

      <% else %>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to "FONCTIONNEMENT", fonctionnement_path  %></li>
          <li> <%= link_to "CONTACT", new_contact_path %></li>
          <li>
            <%= link_to  "CONNEXION", new_user_session_path%>
          </li>
          <li><%= link_to "INSCRIVEZ-VOUS", new_user_registration_path %></li>
          <li><%= link_to "ESPACE RESTAURANTS", espacerestaurants_path %></li>
        </ul>

      <% end -%>


    </div>
  </div>
</nav>




















