<nav class="navbar-wagon  navbar-fixed-top">
  <div class="container navbar-wagon-container" , style:"color:white;">



    <h3><%= link_to "LA BOX DU CHEF", root_path, class: "title" %></h3>

    <div class="navbar-wagon-pusher"></div>


    <hr class="hidden-xs hidden-sm">
    <% if user_signed_in? %>


      <%= link_to "FAQ", "#", style:"color:white;" %>
        <hr class="hidden-xs hidden-sm">
      <%= link_to "NOTRE SERVICE", "#", style:"color:white;" %>
        <hr class="hidden-xs hidden-sm">
       <%= link_to "MON COMPTE", user_path(current_user) %>
        <hr class="hidden-xs hidden-sm">
         <%= link_to "LOG OUT", destroy_user_session_path, method: :delete%>

        <hr class="hidden-xs hidden-sm">
    <% else %>

      <%= link_to "FAQ", "#", style:"color:white;" %>
        <hr class="hidden-xs hidden-sm">
      <%= link_to "NOTRE SERVICE", "#", style:"color:white;" %>
        <hr class="hidden-xs hidden-sm">
      <%= link_to t(".sign_in", default: "S'IDENTIFIER"), new_user_session_path, style:"color:white;" %>
        <hr class="hidden-xs hidden-sm">
      <%= link_to "DEVENIR PARTENAIRE", new_user_registration_path, style:"color:white;" %>
        <hr class="hidden-xs hidden-sm">

    <% end %>


  </div>
</nav>
