<!-- list of orders -->
  <div id="body-container">
    <div class="row">
      <div class="col-xs-12 partner-paiements-box">
        <h4 class="text-center form-header">MES PAIEMENTS</h4>
          <div class="table-responsive">
            <table class="table table-hover" >
              <thead>
                 <tr>
                  <th>Date</th>
                  <th>Numéro</th>
                  <th>Statut</th>
                  <th>Prix total</th>
                  <th>Commission HT</th>
                  <th>TVA déductible</th>
                  <th>A percevoir</th>
                </tr>
              </thead>
                <% @meals_by_month.reverse_each do |monthname, meals| %>
                    <% meals.each do |meal| %>
                      <% meal.orders.each do |order| %>
                       <% if order.status == "confirmed" || order.status == "paid"  %>
                          <tbody>
                            <tr>
                              <td><%= order.created_at.strftime("%d/%m/%y") %></td>
                              <td><%= order.id %></td>
                              <td>
                                 <% if order.status == "confirmed" %>
                                  <span class="status_confirmed">confirmé</span>
                                <% elsif order.status == "paid" %>
                                  <span class="status_paid">payé<span>
                                <% else %>
                                  <span class="unknown_status">inconnu<span>
                                <% end -%>
                              </td>
                              <td><%= number_to_currency(order.amount, :unit => "€") %></td>
                              <td><%= number_to_currency(order.quantity*1) %></td>
                              <td><%= number_to_currency(order.quantity*1*0.2) %> </td>
                              <td><%= number_to_currency(order.amount.to_i - 1*1.2*order.quantity) %></td>
                            </tr>
                          </tbody>
                      <% end -%>
                    <% end -%>
                  <% end -%>
                <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

<!-- list of orders -->
