  <div class="text-center col-xs-12 col-sm-6 col-sm-offset-3  " >
        <%= simple_form_for :search, url: meals_path, :method => :get do |f| %>
        <div class="filter-search">
              <div class="search-place">
                      <%= text_field_tag :full_addressuser_input_autocomplete_address, '', id:"user_input_autocomplete_address", class:"form-control home-address-field-lg", placeholder:"Saisissez votre addresse" , value:"Châtelet - Les Halles, Paris, France"  %>
              </div>
                      <%= f.input :street, :as => :hidden, label: "Numéro de votre rue", input_html: { id: "street" } %>
                      <%= f.input :postal_code, :as => :hidden, label: "Code postal", input_html: {id: "postal_code"} %>
                      <%= f.input :locality, :as => :hidden, label: "Ville", input_html: {id: "locality"} %>
                      <div class="col-md-12">
                        <%= f.button :submit, "Voir les offres", class: "btn-home " %>
                     </div>
              <% end %>
          </div>
      </div>
