<div id="body-container"  >
  <div class="container">
     <div class="row text-center">
        <div class="col-xs-12">
            <h2 class="title-ccm">COMMENT ÇA MARCHE ?</h2>

            <h4 class="text-border-intro">Chaque jour, les restaurants partenaires mettent en vente les surplus de leur service précédent sous forme de boxes à emporter vendues à prix minis ! Vous pouvez ainsi bénéficier
            de bons petits plats à tout petits prix tout en luttant contre le gapillage alimentaire.</h4>

            <div class="row" style="margin-top:60px">
              <div class="col-xs-12">

                <div>
                  <div class="text-center col-xs-12 col-sm-6">
                    <%= image_tag ("eshop.png"), size:"80x80"%>
                      <p><STRONG>1</STRONG>.</p> <p> TROUVEZ ET COMMANDEZ VOTRE BOX PARMI LES OFFRES DU MOMENT</p>
                  </div>
                  <div class="text-center col-xs-12 col-sm-6">
                    <%= image_tag ("walker.png"), size:"80x80" %>
                      <p><STRONG>2</STRONG>.</p> <p>RENDEZ-VOUS CHEZ LE PARTENAIRE PENDANT LES HORAIRES PRÉCISÉES SUR L'OFFRE</p>
                  </div>
                  <div class="text-center col-xs-12 col-sm-6">
                    <%= image_tag ("foodbox.png"), size:"80x80" %>
                      <p><STRONG>3</STRONG>.</p> <p> RECUPÉREZ VOTRE BOX</p>
                  </div>
                  <div class="text-center col-xs-12 col-sm-6">
                    <%= image_tag ("eating.png"), size:"80x80" %>
                      <p><STRONG>4</STRONG>.</p> <p> BRAVO VOUS VENEZ DE LUTTER CONTRE GASPILLAGE ALIMENTAIRE ! RÉGALEZ-VOUS</p>
                  </div>
                </div>
              </div>
            </div>


                <%= link_to "Voir les offres en cours", meals_path, class: "btn btn-success btn-lg btn-margin" %>

     </div>





  </div>
 </div>
</div>
