<div class="banner-index">
  <div id="banner-container" >
     <div class="row">
        <div class="col-xs-8 col-sm-6">
              <div class="filter" style="margin:auto">
                <div id="presentation" class="filter-title" >
                  <h1> DES PLATS DE CHEFS A PETITS PRIX</h1>
                    <div class="hidden-xs col-sm-12">
                    <h2> Cliquez, commandez, récuperez, savourez !</h2>
                    <h3>Diponible à Paris</h3>
                   </div>
                </div>
              </div>
        </div>


    <div class="text-center col-xs-12 col-sm-3" style="margin-top:310px;">

              <%= form_tag('/meals', method: "get", class:"black-box") do %>
              <h3 class="text-center">RESERVEZ VOTRE REPAS</h3>

                <div class="form-group" id="form-field" >
                  <h4>Quel prix ?</h4>
                  <%= select_tag :price_group, options_for_select([["0 à 5 €", 5],["5 à 10 €",10 ], ["10 à 15 €",10 ]])  %>
                 </div>
                    <h4>Quand ?</h4>
                   <div class="form-group" id="form-field ">
                    <%= select_tag :when_group, options_for_select([["Aujourd'hui", Date.today], ["Demain", Date.today+1]]) %>
                   </div>
                 <ul class="list-inline">
                    <li>
                       <h4>Retrait de ?</h4>
                       <div class="form-group" style="color:black;">
                        <%= time_select "start", prefix: :start_date  %>
                       </div>
                    </li>
                    <li>
                      <h4>Retrait à ?</h4>
                     <div class="form-group" style="color:black;">
                       <%= time_select "end", prefix: :end_date  %>
                     </div>
                     </li>

                  </ul>

                   <div class="form-group" >
                      <%= button_tag(type: "submit", class: "btn btn-success") do %>
                      <h5>RECHERCHER</h5>

                </div>
                  <% end %>
              <% end %>

    </div>
  </div>


      <div class="row col-xs-12">
        <div class="filter-hiw" style="margin-top:50px" >
          <div class="container">
            <h3 class="text-center" > How does it work ?</h3>
          </div>
          <div>
            <div class="text-center col-xs-6 col-sm-3">
              <%= image_tag ("eshop.png"), size:"100x100"%>
              <p>Order Online</p>
            </div>
            <div class="text-center col-xs-6 col-sm-3">
              <%= image_tag ("walker.png"), size:"100x100" %>
              <p>Go to the restaurant</p>
            </div>
            <div class="text-center col-xs-6 col-sm-3">
              <%= image_tag ("foodbox.png"), size:"100x100" %>
              <p>Get your box</p>
            </div>
            <div class="text-center col-xs-6 col-sm-3">
              <%= image_tag ("eating.png"), size:"100x100" %>
              <p>Enjoy your meal</p>
            </div>
          </div>
        </div>
      </div>

      <!-- div class="row" style="margin:20px">
        <div class="container">

            <h3 class="text-center">Lets watch the last meals</h3>
            <div class="col-xs-12 col-sm-4">
              <% @meals.last(4).each do |meal| %>
                <div class="card-home card-bg card-gradient" style="margin-left:0px">
                    <h2><%= link_to meal.name %></h2>
                    <p><%= meal.name %></p>
                    <p><%= meal.price %>€</p>
                     <div class="position"><p><%= link_to "RESERVER", restaurant_meals_path(@restaurant, @meal), class: "btn btn-success"%></p></div>
                </div>
               <% end %>

            </div>
          </div>
        </div> -->

     </div>
  </div>



