<div id="banner-container">
  <div class="layer hidden-xs"></div>
  <div class="layer-xs hidden-sm hidden-md hidden-lg"></div>
    <div class="container" >
      <div class="row ">
        <div class="col-xs-12 col-sm-12 ">
          <div  class="text-center" >
              <h1 class="hidden-xs title-home-lg"> MANGEZ MIEUX, MOINS CHER,
                <p> LUTTEZ CONTRE LE GASPILLAGE </p>
              </h1>
              <p class=" hidden-xs sub-title-home-lg">DES PLATS DE RESTAURANTS JUSQU'A TROIS FOIS MOINS CHERS</p>

              <h1 class="visible-xs hidden-sm hidden-md hidden-lg title-home-xs"> <p> DES PLATS DE RESTAURANTS JUSQU'A TROIS FOIS MOINS CHERS </p>
              <h1>
          </div>
        </div>
      </div>
  </div >

    <div class="hidden-xs hidden-sm">
    <%= render 'pages/search_home_lg' %>
    </div>
    <div class="hidden-md hidden-lg">
    <%= render 'pages/search_home_xs' %>
    </div>




  <div class="row hidden-xs hidden-sm">
    <div class="col-xs-12 filter-hiw text-center">
      <h2 class="title_hiw ">COMMENT ÇA MARCHE ?</h2>
      <div class="col-xs-12 hiw_gobal_box">
        <div class="text-center col-xs-12 col-sm-3">
          <%= image_tag "choose_localization.svg", size:"110x130"  %>
          <p><strong> OU ÊTES VOUS ? </strong></p>
          <p>Renseignez votre adresse</p>
       </div>
       <div class="text-center col-xs-12 col-sm-3">
          <%= image_tag "choose_box.svg", size:"110x130"  %>
          <p><strong> FAITES VOTRE CHOIX </strong></p>
          <p>Parmi nos restaurants partenaires</p>
       </div>
       <div class="text-center col-xs-12 col-sm-3">
          <%= image_tag "pay_online.svg", size:"110x130"  %>
          <p><strong> PAYEZ EN LIGNE </strong></p>
          <p>C'est facile, rapide et sécurisé !</p>
       </div>
       <div class="text-center col-xs-12 col-sm-3">
          <%= image_tag "take_box.svg", size:"110x130"  %>
          <p><strong> RÉCUPÉREZ VOTRE BOX </strong></p>
          <p>Rendez vous dans le restaurant partenaire</p>
       </div>
      </div>
    </div>
  </div>





<!-- <div class="row hidden-xs " >
   <div class="text-center col-xs-12 joins-us-box">
     <h2 class="title_hiw ">MANGEZ MIEUX, MOINS CHER ET LUTTEZ CONTRE LE GASPILLAGE</h2>
     <div class="col-xs-12 col-sm-4">
      <div class="box_advantages_eat_better">
        <%= image_tag "eat_restaurant.svg", size:"70x70"  %>
        <h3 >DES PLATS DE RESTAURANTS</h3>
      </div>
     </div>
     <div class="col-xs-12 col-sm-4">
      <div class="box_advantages_eat_cheaper">
      <%= image_tag "save_money.svg", size:"70x70"  %>
        <h3>JUSQU'À 75% MOINS CHERS</h3>
      </div>
     </div>
     <div class="col-xs-12 col-sm-4">
      <div class="box_advantages_no_waste">
        <%= image_tag "no_waste.svg", size:"70x70"  %>
        <h3>LUTTANT CONTRE LE GASPILLAGE</h3>
      </div>
     </div>

      <%= link_to "Je m'inscris !", new_user_registration_path, class:" btn btn-join-us" %>
  </div>
</div> -->




<div class='partner-joins-us hidden-xs'>
  <div class="layer"></div>
    <div class="container" >
      <div class="row ">
        <div class="col-xs-12 col-sm-12 text-center">
      <h2 class="title_hiw ">RESTAURANTS VALORISEZ VOS SURPLUS</h2>
      <p><%= link_to "Je deviens partenaire", partner_sign_up_path, class:" btn btn-join-us"   %></p>
        </div>
      </div>
  </div >
</div>


<div class="row hidden-xs " >
   <div class="text-center col-xs-12 newsletter-box">
   <h3 class="title_hiw ">&nbsp Se tenir informé &nbsp </h3>
    <%= simple_form_for @newsletter do |f| %>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p> <%= f.input :email, placeholder:"marinalaporte@gmail.com", label:false, input_html: {class:"input-email-newsletter"} %> </p>
        <p><%= f.button :submit, "Je veux rester informé", class: "btn-validation" %></p>
      </div>
      <% end %>
     </div>
</div>
