<div class="banner-index" id="banner-container">
  <div class="container filter-hiw" >
     <div class="row ">
        <div class="col-xs-12 col-sm-12 ">
              <div  class="text-center" >
                <h1> DES PLATS DE CHEFS A PETITS PRIX</h1>
                  <div class="hidden-xs col-sm-12">
                  <h4 style="margin-right:100px;"> Cliquez, commandez, récuperez, savourez !</h4>
                 </div>
              </div>
        </div>
    </div>
  </div>

        <div class="row ">
          <div class=" text-center col-xs-12 col-sm-4 col-sm-offset-6">

              <%= form_tag('/meals', method: "get", class:"black-box") do %>
              <h3 class="text-center">RESERVEZ VOTRE BOX</h3>

                <div class="form-group" id="form-field" >
                  <h4>Mon budget</h4>
                  <%= select_tag :price_group, options_for_select([["0 à 5 €", 5],["Jusqu'à 10 €",10 ], ["Jusqu'à 15 €",15 ]])  %>
                 </div>
                    <h4>Quand ?</h4>
                   <div class="form-group" id="form-field ">
                    <%= select_tag :when_group, options_for_select([["Aujourd'hui", Date.today], ["Demain", Date.today+1]]) %>
                   </div>
                 <ul class="list-inline">
                    <li>
                       <h4>Retrait de ?</h4>
                       <div class="form-group" style="color:black;">
                        <%= time_select "start", prefix: :start_date  %>
                       </div>
                    </li>
                    <li>
                      <h4>Retrait à ?</h4>
                     <div class="form-group" style="color:black;">
                       <%= time_select "end", prefix: :end_date  %>
                     </div>
                     </li>
                  </ul>

                   <div class="form-group" >
                      <%= button_tag(type: "submit", class: "btn btn-success") do %>
                      <h5>RECHERCHER</h5>

                </div>
                  <% end %>
              <% end %>

         </div>
      </div>




    <div class="row ">
      <div class="row col-xs-12 filter-hiw text-center">

            <h3 class="text-center" > Comment ça marche ?</h3>

          <div>
            <div class="text-center col-xs-6 col-sm-3">
              <%= image_tag ("eshop.png"), size:"100x100"%>
              <p>Trouvez un bon deal</p>
              <p>Commandez le en ligne</p>
            </div>
            <div class="text-center col-xs-6 col-sm-3">
              <%= image_tag ("walker.png"), size:"100x100" %>
              <p>Allez chercher votre repas</p>
              <p>dans le restaurant partenaire</p>
            </div>
            <div class="text-center col-xs-6 col-sm-3">
              <%= image_tag ("foodbox.png"), size:"100x100" %>
              <p>Récupérer votre box</p>
              <p>sans avoir à patienter</p>
            </div>
            <div class="text-center col-xs-6 col-sm-3">
              <%= image_tag ("eating.png"), size:"100x100" %>
              <p>Bon appétit !</p>
            </div>
          </div>
        </div>
      </div>


 <!-- div class="row" style="margin:20px">
        <div class="container">

            <h3 class="text-center">Lets watch the last meals</h3>
            <div class="col-xs-12 col-sm-4">
              <% @meals.last(4).each do |meal| %>
                <div class="card-home card-bg card-gradient" style="margin-left:0px">
                    <h2><%= link_to meal.name %></h2>
                    <p><%= meal.name %></p>
                    <p><%= meal.price %>€</p>
                     <div class="position"><p><%= link_to "RESERVER", restaurant_meals_path(@restaurant, @meal), class: "btn btn-success"%></p></div>
                </div>
               <% end %>

            </div>
          </div>
        </div> -->


</div>



