<div id="banner-container">
  <div class="layer hidden-xs"></div>
    <div class="layer-xs hidden-sm hidden-md hidden-lg"></div>
    <div class="container" >
      <div class="row ">

              <div class="col-xs-12 col-sm-12 ">
                <div  class="text-center" >
                  <h1 class="hidden-xs title-home-lg"> MANGEZ MIEUX, MOINS CHER,
                    <p> LUTTEZ CONTRE LE GASPILLAGE </p>

                    <b class="sub-title-home-lg">DES PLATS DE RESTAURANTS JUSQU'A TROIS FOIS MOINS CHERS</b>
                    </h1>

                    <h1 class="visible-xs hidden-sm hidden-md hidden-lg title-home-xs"> <p> MANGEZ MIEUX, MOINS CHER, LUTTEZ CONTRE LE GASPILLAGE !</p>
                    <h1>
                    <p class="sub-title-home-xs hidden-md hidden-sm hidden-lg">DES PLATS DE RESTAURANTS JUSQU'A TROIS FOIS MOINS CHERS</p>




                  </div>
              </div>
        </div>
    </div >

      <div class="text-center col-xs-12 col-sm-6 col-sm-offset-3 ">
                   <%= simple_form_for :search, url: meals_path, :method => :get do |f| %>
        <div class="filter-search">
                  <label class="label-search-home">
                    LIEU DE VOTRE RECHERCHE:
                  </label>

              <div class="col-xs-12 search-place" style='padding-right:0px;'>
                    <div class="col-xs-8 col-sm-10" style="padding-right:0px;" >
                      <%= text_field_tag :full_addressuser_input_autocomplete_address, '', id:"user_input_autocomplete_address", class:"form-control", placeholder:"16 Villa Gaudelet, 75011, Paris"   %>
                    </div>
                      <div class="col-xs-4 col-sm-2 geolocation-field" onclick="initiate_geolocation()" >
                            <div class="btn-geolocation" >
                                <li>
                                 <img src="https://maxcdn.icons8.com/Color/PNG/24/Maps/marker-24.png" title="Marker" width="24">
                                </li>
                                <li>
                                  Trouver ma position
                                </li>
                           </div>
                      </div>
                </div>
                <div style="margin-bottom:20p.rbx;"></div>
                  <%= f.input :street, :as => :hidden, label: "Numéro de votre rue", input_html: { id: "street" } %>
                  <%= f.input :postal_code, :as => :hidden, label: "Code postal", input_html: {id: "postal_code"} %>
                  <%= f.input :locality, :as => :hidden, label: "Ville", input_html: {id: "locality"} %>

                    <%= f.button :submit, "GO", class: "btn-home" %>

              <% end %>
          </div>
      </div>






  <div class="row">
    <div class="col-xs-12 filter-hiw text-center">
          <h3 class="text-center  title-standard"  > <strong>  FONCTIONNEMENT  </strong></h3>
      <div>
        <div class="text-center col-xs-6 col-sm-3">
          <img src="https://maxcdn.icons8.com/Color/PNG/96/Mobile/tablet_android-96.png" title="Android Tablet" width="96">
          <p><p><STRONG>1.</STRONG></p> COMMANDEZ VOTRE BOX </p>
        </div>
        <div class="text-center col-xs-6 col-sm-3">
          <img src="https://maxcdn.icons8.com/Color/PNG/96/Sports/walking-96.png" title="Walking" width="96">
          <p><p><STRONG>2.</STRONG></p> RENDEZ-VOUS DANS LE RESTAURANT PARTENAIRE</p>
        </div>
        <div class="text-center col-xs-6 col-sm-3">
          <img src="https://maxcdn.icons8.com/Color/PNG/96/City/market_square-96.png" title="Market Square" width="96">
          <p><p><STRONG>3.</STRONG></p> RECUPÉREZ VOTRE BOX</p>
        </div>
        <div class="text-center col-xs-6 col-sm-3">
          <img src="https://maxcdn.icons8.com/Color/PNG/96/Household/dining_room-96.png" title="Dining Room" width="96">
          <p><p><STRONG>4.</STRONG></p> BON APPÉTIT !</p>
        </div>
      </div>
    </div>
  </div>



  <div class=" col-sm-8 col-sm-offset-2 hidden map-home">
         <h3 class="text-center title-line" style="padding-bottom:30px;" > <strong>  NOS PARTENAIRES </strong></h3>

         <div id="map" name="map" style="height:420px; width:900px; margin-left:10px; margin-right:10px; margin-bottom:10px; margin-top:15px; border-radius:3px;border:1px solid black">
         </div>

  </div>


    <% content_for(:after_js) do %>
    <script>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        console.log(markers)

            });

    });


    </script>
    <% end %>





    <div class="row hidden-xs filter-philosophie" >
      <div class="layer-philosophie"></div>
        <div class="col-xs-6 off-set-3 col-lg-12">
            <h3 class="text-center subtitle-philosophie"> <strong>NOTRE DEMARCHE </strong> </h3>
            <h4 class="subtitle-philosophie">  <strong> MISSIONS  </strong></h4>
              <p>1. LIMITER LE GASPILLAGE ALIMENTAIRE DANS LES RESTAURANTS EN VALORISANT LEURS INVENDUS</p>
              <p>2. PERMETTRE A NOS UTILISATEURS DE MANGER DE BONS PLATS SERVIS EN RESTAURANT À PETIT PRIX !</p>
             <h4 class="subtitle-philosophie">  <strong> CONCEPT  </strong></h4>
             <p> TOUS LES JOURS LES RESTAURANTS PARTENAIRES METTENT EN LIGNE LES SURPLUS QU'ILS ONT SUR UN PLAT: QUANTITÉ, PRIX, HORAIRES DE RETRAIT</p>
             <p>CES PORTIONS VENDUES À PRIX CASSÉES SONT À VENIR CHERCHER DANS LES RESTAURANTS PARTENAIRES</p>
             <p> APRÈS VOUS ÊTRE LOCALISÉS VOUS POUVEZ CONSULTER LES OFFRES PRÈS DE CHEZ VOUS ET RÉSERVER VOTRE PORTION; VOUS PERMETTANT DE BIEN MANGER À PETIT PRIX ET DE LUTTER CONTRE LE GASPILLAGE !!</p>
            <h4 class="text-center subtitle-philosophie"> <strong>BON APPÉTIT !!</strong></h4>



    </div>


</div>




