<div>
  <% @meals.each do |meal| %>
  <% if meal.active? %>
    <div class="col-xs-6 col-sm-6 block-index-xs " >
        <div class="card" style="width:100%; background-image: url('<%=image_path meal.picture.url(:medium)%>')">
            <div class="card-filter card-bg">
                <div class="card-postal_code-position-xs">
                    <p class="restaurant-name-meal"> <%= meal.restaurant.name %> </p>
                    <p class="address-compenents" > <i class="fa fa-map-marker"></i> <%= meal.restaurant.distance_from(params[:full_addressuser_input_autocomplete_address]).round(1) %> km </p>
                </div>
                <p id="card-name-position-xs"><%= meal.name %></p>
                <div class="prices-meal-container-xs">
                      <p id="card-seated-price-position-xs" style="color:red">€<s><%= meal.seated_price %> </s>
                      </p>
                       <p id="card-price-position-xs"><%= meal.price.format %>
                       </p>
                       <ul class="card-index-take-away-postion">
                          <li>
                                <i class="fa fa-clock-o"></i>
                                <%= meal.take_away_noon_starts_at.strftime('%H:%M') %>
                                <%= meal.take_away_noon_ends_at.strftime('%H:%M') %>
                          </li>
                          <li>
                                <i class="fa fa-clock-o"></i>
                                <%= meal.take_away_evening_starts_at.strftime('%H:%M') %>
                                <%= meal.take_away_evening_ends_at.strftime('%H:%M') %>
                          </li>

                      </ul>
                      <li class="text-center">
                            <%= link_to " VOIR LE DÉTAIL", meal_path(meal), class: "btn btn-reserver-xs btn-xs "%>
                      </li>
               </div>
            </div>
        </div>
    </div>
     <% end -%>
     <% end -%>
</div>
