

<% if meal.active? %>
  <%= link_to meal_path(meal) do %>
      <div class="col-xs-12 col-sm-6 card-meal-global-box-lg " >
        <div class="card-meal-global-box-lg-shadow">
          <div class="card_meal_index_lg" style="background-image: url('<%=image_path meal.picture.url(:large)%>')">
            <div class="card-filter card-bg"></div>
              <div class="meal-place-infos-lg">
                    <p class="restaurant-name-meal"> <%= meal.restaurant.name %> </p>
                    <p class="address-compenents" > <i class="fa fa-map-marker"></i> <%= meal.restaurant.distance_from(params[:full_addressuser_input_autocomplete_address]).round(1) %> km </p>
                     <p class=""> <%= image_tag meal.restaurant.picture.url(:thumb), class:"meal-index-restaurant-pic" %> </p>
               </div>
               <div id="index_meal_name_position"><%= meal.name %></div>
          </div>
            <div class="index_meal_details_box">
                <div id="card-seated-price-lg">€<s><%= meal.seated_price %> </s>
                </div>
                <div id="card-price-position-lg"><%= meal.price.format %>
                </div>
                   <% if meal.take_away_noon? && meal.take_away_evening %>
                     <div class="index-take-away-times">
                        <li>
                          <i class="fa fa-clock-o"></i>
                          <%= meal.restaurant.take_away_noon_starts_at.strftime('%H:%M') %>
                          <%= meal.restaurant.take_away_noon_ends_at.strftime('%H:%M') %>
                        </li>
                        <li>
                          <i class="fa fa-clock-o"></i>
                          <%= meal.restaurant.take_away_evening_starts_at.strftime('%H:%M') %>
                          <%= meal.restaurant.take_away_evening_ends_at.strftime('%H:%M') %>
                        </li>
                    </div>
                  <% elsif meal.take_away_noon? %>
                    <div class="index-take-away-times">
                     <li>
                        <i class="fa fa-clock-o" style="margin-bottom:18px"></i>
                        <%= meal.restaurant.take_away_noon_starts_at.strftime('%H:%M') %>
                        <%= meal.restaurant.take_away_noon_ends_at.strftime('%H:%M') %>
                     </li>
                    </div>
                  <% elsif meal.take_away_evening? %>
                    <div class="index-take-away-times">
                      <li>
                        <i class="fa fa-clock-o" style="margin-bottom:18px"></i>
                        <%= meal.restaurant.take_away_evening_starts_at.strftime('%H:%M') %>
                        <%= meal.restaurant.take_away_evening_ends_at.strftime('%H:%M') %>
                      </li>
                    </div>
                  <% end %>
              </div>
          </div>
      </div>
  <% end -%>
<% end -%>

