
<% @meals.each do |meal| %>
  <% if meal.active? %>

      <div class="col-xs-12 card-meal-global-box-xs " >
           <%= simple_form_for meal, url: meal_path(meal), :method => :get do |f| %>
            <%= hidden_field_tag :full_addressuser_input_autocomplete_address, '', id:"user_input_autocomplete_address", class:"form-control index-address-field-lg", placeholder:"Saisissez votre addresse" , value:"Châtelet - Les Halles, Paris, France"  %>
              <%= f.submit "Commander", class: "btn-submit-index-address" %>
            <% end -%>
          <div class="card_img_meal_index_xs" style=" background-image: url('<%=image_path meal.picture.url(:medium)%>')">
            <div class="card-filter card-bg"> </div>
              <div class="meal-place-infos-lg">
                  <p class="restaurant-name-meal"> <%= meal.restaurant.name %> </p>
                  <p class="address-compenents" > <i class="fa fa-location-arrow"></i>
                    <%= meal.restaurant.distance_from(params[:full_addressuser_input_autocomplete_address]).round(1) %> km
                  </p>
              </div>
              <div id="index_meal_name_position"><%= meal.name %></div>
          </div>
          <div class="index_meal_details_box">
              <div id="card-seated-price-xs">€<s><%= meal.seated_price %> </s>
              </div>
               <div id="card-price-position-lg"><%= meal.price.format %>
               </div>
               <% if meal.take_away_noon? && meal.take_away_evening %>
                 <div class="index-take-away-times-xs">
                    <li>
                      <i class="fa fa-clock-o"></i>
                      <%= meal.restaurant.take_away_noon_starts_at.strftime('%H:%M') %>
                      <%= meal.restaurant.take_away_noon_ends_at.strftime('%H:%M') %>
                    </li>
                    <li>
                      <i class="fa fa-clock-o"></i>
                      <%= meal.restaurant.take_away_evening_starts_at.strftime('%H:%M') %>
                      <%= meal.restaurant.take_away_evening_ends_at.strftime('%H:%M') %>
                    </li>
                </div>
              <% elsif meal.take_away_noon? %>
                <div class="index-take-away-times-xs">
                 <li>
                    <i class="fa fa-clock-o" style="margin-bottom:25px"></i>
                    <%= meal.restaurant.take_away_noon_starts_at.strftime('%H:%M') %>
                    <%= meal.restaurant.take_away_noon_ends_at.strftime('%H:%M') %>
                </li>
               </div>
              <% elsif meal.take_away_evening? %>
                <div class="index-take-away-times-xs">
                  <li>
                    <i class="fa fa-clock-o" style="margin-bottom:25px"></i>
                    <%= meal.restaurant.take_away_evening_starts_at.strftime('%H:%M') %>
                    <%= meal.restaurant.take_away_evening_ends_at.strftime('%H:%M') %>
                  </li>
                </div>
              <% end %>
          </div>
      </div>

  <% end -%>
 <% end -%>


