<% if @restaurant.open_noon == true && @restaurant.open_evening == true %>
  <div class="form-input-time-box margin-30">
    <p class='grey-text'> <strong> Retrait possible </strong>(cochez une ou deux cases)</p>
     <div class="col-xs-6 col-sm-6" >
       <%= f.input :take_away_noon, as: :boolean, label:("Le midi &nbsp&nbsp&nbsp&nbsp").html_safe, id:'take_away_noon', value:'1' %>
       <p class="take_away_times_meal grey-text"><%=current_user.restaurants.first.take_away_noon_starts_at.strftime('%H:%M') %> - <%= current_user.restaurants.first.take_away_noon_ends_at.strftime('%H:%M') %> </p>
     </div>
      <div class="col-xs-6 col-sm-6" >
        <%= f.input :take_away_evening, as: :boolean, label:("Le soir").html_safe %>
        <p class="take_away_times_meal grey-text"><%=current_user.restaurants.first.take_away_evening_starts_at.strftime('%H:%M') %> - <%= current_user.restaurants.first.take_away_evening_ends_at.strftime('%H:%M') %> </p>
      </div>
    </div>
 <% elsif @restaurant.open_noon == true %>
   <div class="align-div form-input-time-box margin-30" >
    <p class='grey-text'> <strong> Retrait possible </strong></p>
    <div><%= f.input :take_away_noon, as: :boolean, label:("Le midi &nbsp&nbsp&nbsp&nbsp").html_safe, id:'take_away_noon', value:'1' %>
       <div class="take_away_times_meal grey-text"><%=current_user.restaurants.first.take_away_noon_starts_at.strftime('%H:%M') %> - <%= current_user.restaurants.first.take_away_noon_ends_at.strftime('%H:%M') %>
       </div>
    </div>
   </div>
  <% elsif @restaurant.open_evening == true %>
    <div class="form-input-time-box align-div margin-30" >
      <p class='form-header'> <strong> Retrait possible </strong></p>
      <div><%= f.input :take_away_evening, as: :boolean, label:("Le soir").html_safe %>
        <div class="take_away_times_meal grey-text"><%=current_user.restaurants.first.take_away_evening_starts_at.strftime('%H:%M') %> - <%= current_user.restaurants.first.take_away_evening_ends_at.strftime('%H:%M') %>
        </div>
      </div>
    </div>
<% end %>
