<div class="col-xs-6 meal-show-full-box-lg">
  <div class="col-xs-12 meal-show-global-box-lg " >
      <div class="meal-show-img-xs" style="background-image: url('<%=image_path @meal.picture.url(:medium)%>')">
        <div class="card-filter"> </div>
          <div class="meal_show_lg_distance" > <i class="fa fa-map-marker"></i> <%= @meal.restaurant.distance_from(params[:full_addressuser_input_autocomplete_address]).round(1) %> km </div>
          <div id="index_meal_name_position"><%= @meal.name %>
            <p class="meal_show_xs_description"><%= @meal.description %></p>
          </div>
      </div>
    </div>
      <div class="col-xs-12 meal_show_lg_price_box">
       <div class="meal_show_lg_detail_box">
          <div class="meal_show_lg_seated_price">€<s><%= @meal.seated_price %> </s> </div>
          <div class="meal_show_lg_price"><%= @meal.price.format %> </div>
          <div class="meal_show_lg_stock"> <%= image_tag "foodbox_brown.png", size:"20x20" %>  <%= @meal.stock %> </div>
      </div>


          <%= simple_form_for Order.new, url: cart_orders_path do |f| %>
              <div class="col-xs-5 meal_show_lg_order_box">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-number minus"  data-type="minus" data-field="order[quantity]">
                          <span class="glyphicon glyphicon-minus"></span>
                      </button>
                    </span>
                       <%= f.input :quantity,  label:false, input_html: { max: @meal.stock, type:"text", min:1, value:1, step:1, id:"meal_show_lg_quantity_select"} %>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-number plus" data-type="plus" data-field="order[quantity]">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    </span>
                  </div>
                <%= f.input :meal_id, as: :hidden, input_html: { value: @meal.id } %>
              </div>
              <div class='col-xs-6 meal_show_lg_total_price'>
              <span class="total_xs">Total:</span>
              <span class="price"> <%= @meal.price.to_f %> </span>&nbsp;<span>€</span>

              </div>
                <div class="col-xs-12 text-center">
                  <%= f.submit "Commander", class: "btn-reserver-xs " %>
                </div>
              <% end %>

      </div>
</div>












