<div class="col-xs-12 meal-show-global-box-xs " >
    <div class="meal-show-img-xs" style="background-image: url('<%=image_path @meal.picture.url(:medium)%>')">
      <div class="card-filter card-bg"> </div>
        <div class="meal-place-infos-lg">
              <p class="restaurant-name-meal"> <%= @meal.restaurant.name %> </p>
              <p class="address-compenents" > <%= @meal.restaurant.full_address %> </p>
              <p class="address-compenents" > <i class="fa fa-map-marker"></i> <%= @meal.restaurant.distance_from(params[:full_addressuser_input_autocomplete_address]).round(1) %> km </p>
        </div>
        <div id="index_meal_name_position"><%= @meal.name %>
          <div class="meal_show_xs_stock_position"> <%= image_tag "foodbox_white.png", size:"20x20" %>  <%= @meal.stock %> </div>
          <p class="meal_show_xs_description"><%= @meal.description %></p>
           <div class="meal_show_xs_detail_box">
              <div class="meal_show_xs_seated_price">€<s><%= @meal.seated_price %> </s> </div>
                <div class="meal_show_xs_price"><%= @meal.price.format %> </div>
                  <% if @meal.take_away_noon? && @meal.take_away_evening %>
                   <div class="show-take-away-times-xs">
                      <li>
                        <i class="fa fa-clock-o"></i>
                        <%= @meal.restaurant.take_away_noon_starts_at.strftime('%H:%M') %>
                        <%= @meal.restaurant.take_away_noon_ends_at.strftime('%H:%M') %>
                      </li>
                      <li>
                        <i class="fa fa-clock-o"></i>
                        <%= @meal.restaurant.take_away_evening_starts_at.strftime('%H:%M') %>
                        <%= @meal.restaurant.take_away_evening_ends_at.strftime('%H:%M') %>
                      </li>
                  </div>
                <% elsif @meal.take_away_noon? %>
                  <div class="show-take-away-times-xs">
                   <li>
                      <i class="fa fa-clock-o" style="margin-bottom:18px"></i>
                      <%= @meal.restaurant.take_away_noon_starts_at.strftime('%H:%M') %>
                      <%= @meal.restaurant.take_away_noon_ends_at.strftime('%H:%M') %>
                  </li>
                 </div>
                <% elsif @meal.take_away_evening? %>
                  <div class="show-take-away-times-xs">
                    <li>
                      <i class="fa fa-clock-o" style="margin-bottom:18px"></i>
                      <%= @meal.restaurant.take_away_evening_starts_at.strftime('%H:%M') %>
                      <%= @meal.restaurant.take_away_evening_ends_at.strftime('%H:%M') %>
                    </li>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
  </div>

    <div class="col-xs-12 meal_show_xs_price_box text-center">


        <%= simple_form_for Order.new, url: cart_orders_path do |f| %>
            <div class="col-xs-6">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number minus"  data-type="minus" data-field="order[quantity]">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </span>
                     <%= f.input :quantity,  label:false, input_html: { max: @meal.stock, type:"text", min:1, value:1, step:1, id:"meal_show_lg_quantity_select"} %>

                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number plus" data-type="plus" data-field="order[quantity]">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
                </div>
              <%= f.input :meal_id, as: :hidden, input_html: { value: @meal.id } %>
            </div>
            <div class='col-xs-6 meal_show_xs_total_price'>
            <span class="total_xs">Total:</span>
            <span class="price"> <%= @meal.price.to_f %> </span>&nbsp;<span>€</span>
            </div>
              <div class="col-xs-12 text-center">
                <%= f.submit "Réserver", class: "btn-reserver-xs " %>
              </div>
            <% end %>

    </div>











