 <div class="meal ">

            <% if meal.active? %>
            <div class="col-xs-12 col-sm-6 " >
              <div class="card" style="width:100%; padding:10px; background-image: url('<%=image_path meal.picture.url(:medium)%>')">
                <div class="card-filter card-bg">
                  <div class="card-postal_code-position">
                        <p class="restaurant-name-meal"> <%= meal.restaurant.name %> </p>
                        <p class="address-compenents" > <i class="fa fa-map-marker"></i> <%= meal.restaurant.distance_from(params[:full_addressuser_input_autocomplete_address]).round(1) %> km </p>
                  </div>
                  <p id="card-name-position"><%= meal.name %></p>
                  <div class="prices-meal-container">
                    <p id="card-price-position"><%= meal.price.format %></p>

                    <p id="card-seated-price-position" style="color:red">€<s><%= meal.seated_price %> </s> </p>

                    <div  class="position">
                        <%= link_to "VOIR LE DÉTAIL", meal_path(meal), class: "btn btn-reserver "%>
                    </div>
                  </div>
                </div>
              </div>
            </div>

             <% end -%>
</div>
