<div id="body-container" >
    <div class="container">
       <div class="row">
              <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
             <h3>Créez en <strong>moins d'une minute</strong> le repas que vous souhaitez mettre en ligne</h3>
                <%= simple_form_for ([@restaurant, @meal]) do |f| %>
                <%= f.input :name, label: 'Nom',input_html: {:maxlength => 20}, placeholder: 'boeuf bourguignon' %>
                <%= f.input :picture, label: 'Photo' %>
                <%= f.input :description, placeholder: 'Décrivez le plat en une phrase' ,input_html: {:maxlength => 40} %>
                <ul class="list-inline">
                    <li class="col-xs-6"><%= f.input :seated_price, label: 'Prix en salle', placeholder: 'en €' %> </li>
                  <li class="col-xs-6">  <%= f.input :price, label: 'Prix de la box', placeholder: 'en €' %> </li>
                </ul>
                <%= f.input :quantity, label: 'Nombre de box(es)', :collection => (1..20), placeholder: 'ex: 2' %>
                <%= f.input :starting_date, label: 'Date de mise en ligne', placeholder: 'lundi 3 mars 2015' %>
                <p> <strong> Horaires de retrait le midi </strong></p>
                  <div class="col-xs-12">
                      <div class="col-xs-6">
                     <%= f.input :take_away_noon_starts_at, :default => "11:00".to_time , label: "de" %>
                     </div>
                      <div class="col-xs-6">
                      <%= f.input :take_away_noon_ends_at, :default => "14:00".to_time , label: "à"%>
                       </div>
                  </div>
                <p><strong>Horaires de retrait le soir </strong></p>
                  <div class="col-xs-12">
                     <div class="col-xs-6">
                      <%= f.input :take_away_evening_starts_at, :default => "19:00".to_time , label: "de" %>
                    </div>
                     <div class="col-xs-6">
                      <%= f.input :take_away_evening_ends_at, :default => "22:00".to_time , label: "à" %>
                    </div>
                  </div>
               <%= f.button :submit, "valider", class: "btn btn-success margin-btn-validation" %>
               <% end %>
        </div>
     </div>
  </div>
</div>
