<div id="body-container" >
    <div class="container">
       <div class="row">
              <div class="col-xs-12 col-md-6 col-md-offset-3 text-center form-box">
            <h3>ÉDITION DE VOTRE OFFRE</h3>
                <%= simple_form_for ([@restaurant, @meal]) do |f| %>
                <%= f.input :name, label: 'Nom',input_html: {:maxlength => 20}, placeholder: 'boeuf bourguignon' %>
                <%= f.input :picture, label: 'Photo' %>
                <%= f.input :description, placeholder: 'Décrivez le plat en une phrase' ,input_html: {:maxlength => 40} %>
                <ul class="list-inline">
                    <li class="col-xs-6"><%= f.input :seated_price, label: 'Prix en salle', placeholder: 'en €' %> </li>
                  <li class="col-xs-6">  <%= f.input :price, label: 'Prix de la box', placeholder: 'en €' %> </li>
                </ul>
                <%= f.input :quantity, label: 'Nombre de box(es)', :collection => (1..20), placeholder: 'ex: 2' %>


                <p> <strong> Retrait possible </strong>(cochez une ou deux cases)</p>
                 <div class="col-xs-6">
                 <%= f.input :take_away_noon, as: :boolean, label:'Retrait le midi', id:'take_away_noon', value:'1' %>
                 </div>
                <div class="col-xs-6">
                <%= f.input :take_away_evening, as: :boolean, label:'Retrait le soir' %>
                </div>
               <%= f.button :submit, "Mettre en ligne", class: "btn btn-success margin-btn-validation" %>
               <%= f.button :submit, "valider", class: "btn btn-success margin-btn-validation" %>
               <% end %>
        </div>
     </div>
  </div>
</div>
