<div id="body-container" >
    <div class="container">
       <div class="row">
          <% current_user.restaurants.each do |restaurant| %>
          <% if restaurant.confirmed? %>
          <div class="col-xs-12 col-md-6 col-md-offset-3 text-center form-box" style="color:black;">
            <h4 class="form-header">ÉDITION DE VOTRE OFFRE</h4>
            <%= simple_form_for([@restaurant, @meal], html: { novalidate: true }) do |f| %>
              <%= f.input :name, label:false,  input_html: {class:"form-input-text",:maxlength => 28}, placeholder: 'Nom du plat*' %>
                <div class="form-input-picture">
                  <p class="label-picture">Photo(obligatoire)</p>
                    <% if @restaurant.picture.exists? %>
                      <%= image_tag @restaurant.picture.url(:thumb) %><br/>
                   <% end %>
                  <%= f.file_field :picture, label:false, class:"input-picture"%>
                  <%= f.error :picture, style:"color:#E08283;" %>
                </div>
                <%= f.input :description, placeholder: 'Description*', input_html: { class:"form-input-description",:maxlength => 60}, label: false %>
                <div class="col-xs-12 increment-field-block" >
                    <div class="incremented-field">
                        <span >&nbsp&nbspPrix en salle</span>
                        <input type='button' value='-' class='qtyminus btn-quantity' field='meal_seated_price' />
                          <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[seated_price]" id="meal_seated_price" type="text" value="<%= @meal.seated_price %>">
                        <input type='button' value='+' class='qtyplus btn-quantity' field='meal_seated_price' />
                        <span>€</span>
                   </div>
                </div>
                <div class="col-xs-12 increment-field-block">
                    <div class="incremented-field">
                        <span > Prix de la box</span>
                        <input type='button' value='-' class='qtyminus btn-quantity' field='meal_price' />
                          <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[price]" id="meal_price" type="text" value="<%= @meal.price %>">
                        <input type='button' value='+' class='qtyplus btn-quantity' field='meal_price' />
                        <span>€</span>
                   </div>
                </div>
                <div class="col-xs-12 increment-field-block">
                    <div class="incremented-field">
                        <span>&nbsp&nbsp&nbsp&nbsp Quantité</span>
                        <input type='button' value='-' class='qtyminus btn-quantity' field='meal_quantity' />
                          <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[quantity]" id="meal_quantity" type="text" value="<%= @meal.quantity %>">
                        <input type='button' value='+' class='qtyplus btn-quantity' field='meal_quantity' />
                   </div>
                </div>
               <%= render 'meal_take_away_time_selection', :f => f %>
                <%= f.submit  "Mettre en ligne", class: "btn btn-validation " %>
                <%= link_to "Désactiver l'offre", restaurant_meal_path, :method => :delete, :confirm => "You sure?", class:"btn btn-danger btn-delete" %>
               <% end %>
            </div>

          <% end -%>
           <% end %>
     </div>
  </div>
</div>



