<div id="body-container" >
    <!-- <div class=" meal-index-search text-center">
      <div class="btn btn-ajouter" style="margin:3px" data-toggle="collapse" data-target="#demo">Plus de filtres</div>
        </div>
          <div id="demo" class="collapse">

          <div class="row">
            <div class="text-center col-xs-12 col-sm-12">
              <%= form_tag('/meals', method: "get", class:"form-inline") do %>

              <label for="">
                Entrez l'adresse autour de laquelle vous souhaitez être notifié:
              </label>
              <%= text_field_tag :full_addressuser_input_autocomplete_address, '', id:"user_input_autocomplete_address", class:"form-control"   %>

              <div style="margin-bottom:10p.rbx;"></div>
              <%= text_field_tag :street, :as => :hidden, label: "Numéro de votre rue", input_html: { id: "street" } %>
              <%= text_field_tag :postal_code, :as => :hidden, label: "Code postal", input_html: {id: "postal_code"} %>
              <%= text_field_tag :locality, :as => :hidden, label: "Ville", input_html: {id: "locality"} %>


                <%= submit_tag("Search", class:"btn btn-primary") %>

          <% end %>
          </div>
        </div>
      </div> -->



    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >
          <h3 class="title-body" id="text-meal-index">OFFRES EN COURS</h3>
           <% if  @meals.where(active:true).count == 0 %>
              <h4>Il n'y a malhreusement pas d'offres en cours pour le moment :( </h4>
              <p>N'hésitez pas à présenter le projet à vos amis restaurateurs pour que ceux-ci rejoignent notre version beta !</p>
            <% else %>
            <% @meals.each do |meal| %>
            <% if meal.active? %>
            <div class="col-xs-12 col-sm-6">
              <div class="card" style="width:100%; padding:10px; background-image: url('<%=image_path meal.picture.url(:medium)%>')">
                <div class="card-filter card-bg">
                  <a href="http://laboxduchef.herokuapp.com/meals/#map" id="card-postal_code-position" > <i class="fa fa-map-marker"></i>
                    <%= meal.restaurant.postal_code %>
                  </a>
                  <p id="card-name-position"><%= meal.name %></p>
                  <div class="prices-meal-container">
                    <p id="card-price-position"><%= meal.price.format %></p>

                    <p id="card-seated-price-position" style="color:red">€<s><%= meal.seated_price %> </s> </p>

                    <div  class="position">
                        <%= link_to "VOIR LE DÉTAIL", meal_path(meal), class: "btn btn-reserver "%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end -%>
            <% end %>
            <% end -%>
            <%= paginate @meals %>
          </div>


        <div class="col-xs-12 col-sm-6">
         <h3 class="title-body" id="text-meal-index">ITINÉRAIRE</h3>

         <div id="map" name="map" style="height:620px; margin-left:10px; margin-right:10px; margin-bottom:10px; margin-top:15px; border-radius:3px;border:1px solid black">
         </div>

       </div>
     </div>
    </div>
    </div>
    </div>

    <% content_for(:after_js) do %>
    <script>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        console.log(markers)

              // var i, len, marker;

              // var infowindow = new google.maps.InfoWindow();
              // for (i = 0, len = markers.length; i < len; i++) {
                // marker = markers[i];
                // google.maps.event.addListener(marker.getServiceObject(), 'mouseover', function(e, b,c) {
                  // console.log(this);
                  // console.log(handler);
                  // infowindow.open(map, this);
                  // console.log(this.position.lat());
                  // console.log(this.position.lng());
                // });
              // }

            });

    });


    </script>
    <% end %>

