<!-- <p>Find me in app/views/meals/index.html.erb</p> -->
<div class="banner-index text-center" style="padding:0px">
  <div class="card-gradient" style="padding:1px">
    <h1>Meals index</h1>
    <div class="container">
      <div class="row">
        <div style="margin-top:10px">

          <div class="col-xs-12 col-sm-6">
            <% @meals.each do |meal| %>
              <div class="col-xs-12 col-sm-6">
                <div class="card" style="width:100%; margin-left:0px; background-image: url('<%=image_path meal.picture.url(:medium)%>')">
                  <div class="card-gradient card-bg">
                  <p><%= meal.name.upcase %></p>
                  <p><%= meal.price %>€</p>
                  <p class="icon-badge icon-badge-green icon-badge-bordered"><%= meal.quantity %></p>
                  <p><%= meal.description %></p>
                  <div  class="position">
                  <a><%= link_to "RESERVER", restaurant_meals_path(@restaurant, @meal), class: "btn btn-success"%></a>
                  </div>
                  </div>
                </div>
              </div>
            <%end%>
            <%= paginate @meals %>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div id="map" style="height:660px; margin-left:10px; margin-bottom:10px; margin-top:5px">
              <% content_for(:after_js) do %>
                <%= javascript_tag do %>
                  $(document).on('ready', function() {
                    handler = Gmaps.build('Google');
                    handler.buildMap({ internal: { id: 'map' } }, function(){
                      markers = handler.addMarkers(<%= raw @markers.to_json %>);
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                    });
                  })
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
