<!-- <p>Find me in app/views/meals/index.html.erb</p> -->
<div style="margin-top: 70px">
  <h1>Meals index</h1>
  <div class="container">
    <div class="row">
      <% @meals.each do |meal| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card card-bg card-gradient">
          <p><%= meal.name.upcase %></p>
          <p><%= meal.price %>€</p>
          <p class="icon-badge icon-badge-green icon-badge-bordered"><%= meal.quantity %></p>
          <p><%= meal.description %></p>
          <p><%= link_to "RESERVER", meal_path(meal), class: "btn btn-success"%></p>
        </div>
        </div>
      <%end%>
      <%= paginate @meals %>
  </div>
</div>

<div class="container col-xs-6 col-sm-6 col-md-6">
<div id="map" style="width: 100%; height: 759px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
</div>
