<div id="body-container" >

<!-- banner meal index lg -->
  <div id="banner-container-meal-index">
    <h2 class="title_meal-index-lg text-center">LES MEILLEURES OFFRES AUTOUR DE <%= params[:full_addressuser_input_autocomplete_address] %> </h2>
  </div>
<!-- banner meal index lg -->
    <div class="container-meal-index hidden-xs">
      <div class="row">
<!-- list of meals lg -->
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
            <div class=" meals-list">
             <% if  Meal.where(active:true).count == 0 %>
                <div class="text-center">
              <p class="font-25">Il n'y a malheureusement pas d'offres en cours pour le moment ! </p>
                <p class="font-25" >N'hésitez pas à présenter le projet à vos amis restaurateurs pour que ceux-ci rejoignent notre version beta !</p>
                </div>
              <% else %>
                 <div id="my-meals">
                    <%= render 'meals/list_meals_lg'%>
                  </div>
                  <div class="col-xs-12" id="infinite-scrolling">
                   <%= will_paginate @meals, page_links: false %>
                  </div>
                  <% end -%>
            </div>
          </div>
<!-- list of meals lg -->
<!-- banner meal index lg -->
<!-- new address lg -->
        <div class="search-meal-index-toggled hidden-xs col-xs-12 col-sm-4">
            <div class='change_place text-center'>
              <p id="change_place_block"> Lieu: <%= params[:full_addressuser_input_autocomplete_address] %>
                  <button href="" id="change_place"> MODIFIER </button>
              </p>
                <div id="index_address_input">
                  <%= simple_form_for :search, url: meals_path, :method => :get do |f| %>
                      <p><%= text_field_tag :full_addressuser_input_autocomplete_address, '', id:"index_user_input_autocomplete_address", class:"form-control index-address-field-lg", placeholder:"Saisissez votre addresse" , value:"Châtelet - Les Halles, Paris, France"  %> </p>

                     <p> <%= f.button :submit, "Voir", class: "btn btn-search-meal-index-lg" %></p>
                    <% end -%>
                </div>
              </div>
            <div id="map" name="map" class="map-index-lg" ></div>
        </div>
<!-- new address lg -->
      </div>
     </div> <!-- closing container view lg -->
<!-- header links view xs -->
     <div class="col-xs-12 hidden-md hidden-lg hidden-sm visible-xs" id="meal_search_header_xs">
        <div class="col-xs-6 text-center">
          <p class=" meal_xs_link-box"><%= link_to 'OFFRES', url_for(params), class:"meal_xs_header_offres_title" %></p>
        </div>
        <div class="col-xs-6 text-center">
          <p class=" meal_xs_link-box"><%= link_to 'CARTE', controller: "meals", action:"mealmapxs", full_addressuser_input_autocomplete_address: @search_address, class:"meal_xs_header_offres_title" %></p>
        </div>
    </div>
<!-- header links view xs -->
<!-- list of meals xs -->
    <div class="container-index-xs hidden-md hidden-lg hidden-sm">
      <div class="row" >
        <div class="col-xs-12 col-sm-12 block-index-xs  ">
           <% if  Meal.where(active:true).count == 0 %>
            <div class="col-xs-12 text-center container_no_offer" >
                <p class="font-25">Il n'y a malheureusement pas d'offres en cours pour le moment ! </p>
                <p class="font-25" >N'hésitez pas à présenter le projet à vos amis restaurateurs pour que ceux-ci rejoignent notre version beta !</p>
            </div>
            <% else %>
               <div id="my-meals-xs">
                  <%= render 'meals/list_meals_xs', renderer: BootstrapPagination::Rails  %>
               </div>
               <div id="infinite-scrolling">
               <%= will_paginate @meals %>
              </div>
            <% end -%>

          </div>
        </div>
      </div>
<!-- list of meals xs -->

</div>



    <% content_for(:after_js) do %>
    <script>

// fonction markers map
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      var markers = <%= @markers.count%> ;
      handler.buildMap({ internal: { id: 'map' } },

           function(){
            if(markers > 0){
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            console.log(markers)
               }
            else {
              handler.map.centerOn([48.8534100, 2.3488000]);
               handler.getMap().setZoom(12);
            }
                });

    });
// fonction markers map
// fonction pagination
    $(document).ready(function() {
      if ($('.pagination').length) {
        $(window).scroll(function() {
          var url = $('.pagination .next_page').attr('href');
          if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
            $('.pagination').text("Chargement en cours...");
            return $.getScript(url);
          }
        });
        return $(window).scroll();
      }
    });
// fonction pagination


    </script>
    <% end %>

