<div id="body-container" >

    <div class="container hidden-sm hidden-xs">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ">
           <h4 class="title-body " id="text-meal-index">OFFRES EN COURS</h4>
           <% if  Meal.where(active:true).count == 0 %>
              <h4>Il n'y a malhreusement pas d'offres en cours pour le moment ! </h4>
              <p>N'hésitez pas à présenter le projet à vos amis restaurateurs pour que ceux-ci rejoignent notre version beta !</p>
            <% else %>
              <div id="all-meals">
                <%= render "meals/meals" %>
             </div>
            <% end -%>

               <%= will_paginate @meals %>
          </div>



                <div class="col-xs-12 col-sm-6">
                 <h4 class="title-body" id="text-meal-index">CARTE</h4>

                 <div id="map" name="map" style="height:620px; margin-left:10px; margin-right:10px; margin-bottom:10px; margin-top:15px; border-radius:3px;border:1px solid black">
                 </div>

               </div>
        </div>
      </div>
    </div>





    <div class="container-index-xs hidden-md hidden-lg">
      <div class="row" >
        <div class="col-xs-12 col-sm-12 block-index-xs  ">
           <% if  Meal.where(active:true).count == 0 %>
              <h4>Il n'y a malhreusement pas d'offres en cours pour le moment ! </h4>
              <p>N'hésitez pas à présenter le projet à vos amis restaurateurs pour que ceux-ci rejoignent notre version beta !</p>
            <% else %>
            <% @meals.each do |meal| %>
            <% if meal.active? %>
            <div class="col-xs-6 col-sm-6 block-index-xs " >
              <div class="card" style="width:100%; background-image: url('<%=image_path meal.picture.url(:medium)%>')">
                <div class="card-filter card-bg">
                  <div class="card-postal_code-position-xs">
                        <p class="restaurant-name-meal"> <%= meal.restaurant.name %> </p>
                        <p class="address-compenents" > <i class="fa fa-map-marker"></i> <%= meal.restaurant.distance_from(params[:full_addressuser_input_autocomplete_address]).round(1) %> km </p>
                  </div>
                  <p id="card-name-position-xs"><%= meal.name %></p>
                  <div class="prices-meal-container-xs">
                    <p id="card-seated-price-position-xs" style="color:red">€<s><%= meal.seated_price %> </s> </p>
                     <p id="card-price-position-xs"><%= meal.price.format %></p>
                     <ul class="card-index-take-away-postion">
                          <li>
                                <i class="fa fa-clock-o"></i>
                                <%= meal.take_away_noon_starts_at.strftime('%H:%M') %>
                                <%= meal.take_away_noon_ends_at.strftime('%H:%M') %>
                          </li>
                          <li>
                                <i class="fa fa-clock-o"></i>
                                <%= meal.take_away_evening_starts_at.strftime('%H:%M') %>
                                <%= meal.take_away_evening_ends_at.strftime('%H:%M') %>
                          </li>

                    </ul>
                          <li class="text-center">
                                <%= link_to " VOIR LE DÉTAIL", meal_path(meal), class: "btn btn-reserver-xs btn-xs "%>
                          </li>


                  </div>
                </div>
              </div>
            </div>
            <% end -%>
            <% end %>
            <% end -%>
            <%= paginate @meals %>
          </div>
        </div>
      </div>
    </div>






















    <% content_for(:after_js) do %>
    <script>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        console.log(markers)

              // var i, len, marker;

              // var infowindow = new google.maps.InfoWindow();
              // for (i = 0, len = markers.length; i < len; i++) {
                // marker = markers[i];
                // google.maps.event.addListener(marker.getServiceObject(), 'mouseover', function(e, b,c) {
                  // console.log(this);
                  // console.log(handler);
                  // infowindow.open(map, this);
                  // console.log(this.position.lat());
                  // console.log(this.position.lng());
                // });
              // }

            });

    });


    </script>
    <% end %>

