<div id="body-container" class="restaurant" >
 <div class="filter"></div>
  <div style="padding:1px">

    <div class="container">
      <div class="row">
        <div style="margin-top:50px">

          <div class="col-xs-12 col-sm-6" id="filter-meals-list">
              <h1 style='position:relative'>Repas proposés</h1>
            <% @meals.each do |meal| %>
              <div class="col-xs-12 col-sm-6">
                <div class="card" style="width:100%; padding:10px; background-image: url('<%=image_path meal.picture.url(:medium)%>')">
                  <div class="card-filter card-bg">
                  <p id="card-name-position"><%= meal.name.upcase %></p>

                  <p id="card-price-position"><%= meal.price %>€</p>

                  <p class="icon-badge icon-badge-green icon-badge-bordered"><%= meal.quantity %></p>

                  <div  class="position">
                  <%= link_to "RESERVER", meal_path(meal), class: "btn btn-success"%>
                  </div>
                  </div>

                </div>
              </div>
            <%end%>

          </div>


            <div class="col-xs-12 col-sm-6" >

              <div id="map" style="height:620px; margin-left:10px; margin-right:10px; margin-bottom:10px; margin-top:6px">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    <% end %>
  <% end %>

