<!-- form new meal -->
<div id="body-container"  >
  <div class="container">
      <div class="row">
          <% current_user.restaurants.each do |restaurant| %>
          <% if restaurant.confirmed? %>
             <div class="col-xs-12 col-md-6 col-md-offset-3 text-center form-box" >
            <h4 class="form-header">CRÉATION DE VOTRE OFFRE</h4>
             <p class='grey-text'>*Tous les champs du formulaire sont obligatoires</p>
              <%= simple_form_for([@restaurant, @meal]) do |f| %>
                <%= f.input :name, label:false,  input_html: {class:"form-input-text",:maxlength => 28}, placeholder: 'Nom du plat*' %>
                <div class="form-input-picture">
                  <p class="label-picture">Photo(obligatoire)</p>
                  <%= f.file_field :picture, label:false, class:"input-picture" %>
                  <%= f.error :picture, style:"color:#E08283;" %>
                </div>
                <%= f.input :description, placeholder: 'Description*', input_html: { class:"form-input-description",:maxlength => 60}, label: false %>
                  <div class="col-xs-12 increment-field-block" >
                      <div class="incremented-field">
                          <span class='grey-text' >&nbsp&nbspPrix en salle</span>
                          <button type='button' class='qtyminus btn-quantity' field='meal_seated_price' >-</button>
                            <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[seated_price]" id="meal_seated_price" type="text" value="10">
                          <button type='button' class='qtyplus btn-quantity' field='meal_seated_price' >+</button>
                          <span>€</span>
                     </div>
                  </div>
                  <div class="col-xs-12 increment-field-block">
                      <div class="incremented-field">
                          <span class='grey-text' > Prix de la box</span>
                          <input type='button' value='-' class='qtyminus btn-quantity ' field='meal_price' />
                            <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[price]" id="meal_price" type="text" value="5">
                          <input type='button' value='+' class='qtyplus btn-quantity' field='meal_price' />
                          <span>€</span>
                     </div>
                  </div>
                  <div class="col-xs-12 increment-field-block">
                      <div class="incremented-field">
                          <span class='grey-text' >&nbsp&nbsp&nbsp&nbspQuantité</span>
                          <input type='button' value='-' class='qtyminus btn-quantity' field='meal_quantity' />
                            <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[quantity]" id="meal_quantity" type="text" value="5" min="1">
                          <input type='button' value='+' class='qtyplus btn-quantity' field='meal_quantity' />
                     </div>
                  </div>
                <p class='grey-text'> <strong> L'offre est valable </strong>(cochez une ou deux cases)</p>
                 <div class="col-xs-6">
                  <p class='grey-text ' ><%= check_box_tag "meal[starting_date]", Date.today %> Aujourd'hui
                  </p>
                <%= f.error :second_date, style:"color:#E08283;" %>
                 </div>
                 <div class="col-xs-6">
                 <p class='grey-text' ><%= check_box_tag "meal[second_date]", Date.today + 1 %>
                  Demain
                 </p>
                <%= f.error :second_date, style:"color:#E08283;" %>
                 </div>
                <%= render 'meal_take_away_time_selection', :f => f %>
               <%= f.submit  "Mettre en ligne", class: "btn btn-validation " %>
               <% end %>
            </div>

          <%else %>

      <div id="text-center" style="height:500px;">
          <h2>Votre restaurant est en cours de validation. Une fois celui-ci validé vous pourrez poster vos offres. L'étape de validation prend entre 24 heures et 48 heures.</h2>
          <div class="text-center">
          <%= link_to "Retour", root_path, class:"btn btn-primary text-center btn-margin" %>
          </div>
     </div>


          <% end -%>
           <% end %>
    </div>
  </div>
</div>

<!-- form new meal -->

