<div id="body-container" >
    <div class="container">
       <div class="row">

          <% current_user.restaurants.each do |restaurant| %>
          <% if restaurant.confirmed? %>


          <div class="col-xs-12 col-md-6 col-md-offset-3 text-center form-box" style="color:black;">
            <h3 class="title-illustration">CRÉATION DE VOTRE OFFRE</h3>
             <p>Créez en <strong>moins d'une minute</strong> le repas que vous souhaitez mettre en ligne</p>
                <%= simple_form_for ([@restaurant, @meal]) do |f| %>
                <%= f.input :name, label: 'Nom',input_html: {:maxlength => 24}, placeholder: 'boeuf bourguignon' %>
                <%= f.input :picture, label: 'Photo' %>
                <%= f.input :description, placeholder: 'Délicieux boeuf accompagné de riz' ,input_html: {:maxlength => 60} %>
                <ul class="list-inline">
                    <li class="col-xs-6"><%= f.input :seated_price, as: :string, label: 'Prix en salle', placeholder: '0.00' %> </li>
                  <li class="col-xs-6">  <%= f.input :price, label: 'Prix de la box', placeholder: 'en €' %> </li>
                </ul>
                <%= f.input :quantity, label: 'Nombre de portions', :collection => (1..20), placeholder: 'ex: 2' %>

                 <p> <strong> L'offre est valable </strong>(cochez une ou deux cases)</p>
                <div class="col-xs-6">
                 <%= f.input :starting_date, as: :boolean, checked_value: Date.today, unchecked_value: false, label:'Ce jour' %>
                </div>
                 <div class="col-xs-6">
                 <%= f.input :second_date, as: :boolean, checked_value: Date.today + 1, unchecked_value: false, label:'Demain' %>
                </div>

                <p> <strong> Horaires de retrait le midi </strong></p>
                  <div class="col-xs-12">
                      <div class="col-xs-6">
                     <%= f.input :take_away_noon_starts_at, :default => "11:00".to_time , label: "de" %>
                     </div>
                      <div class="col-xs-6">
                      <%= f.input :take_away_noon_ends_at, :default => "14:00".to_time , label: "à"%>
                       </div>
                  </div>
                <p><strong>Horaires de retrait le soir </strong></p>
                  <div class="col-xs-12">
                     <div class="col-xs-6">
                      <%= f.input :take_away_evening_starts_at, :default => "19:00".to_time , label: "de" %>
                    </div>
                     <div class="col-xs-6">
                      <%= f.input :take_away_evening_ends_at, :default => "22:00".to_time , label: "à" %>
                    </div>
                  </div>
               <%= f.button :submit, "Mettre en ligne", class: "btn btn-success margin-btn-validation" %>
               <% end %>
        </div>

          <%else %>

      <div id="text-center" style="height:500px;">
          <h2>Votre restaurant est en cours de validation. Une fois celui-ci validé vous pourrez poster vos offres. L'étape de validation prend entre 24 heures et 48 heures.</h2>
          <div class="text-center">
          <%= link_to "Retour", root_path, class:"btn btn-primary text-center btn-margin" %>
          </div>
     </div>


          <% end -%>
           <% end %>
     </div>
  </div>
</div>


