<!-- update restaurant time -->
 <%= render 'restaurant_opening_time', :restaurant => @restaurant %>
<!--  update restaurant time -->
<!-- form new meal -->
<div id="body-container"  >
  <div class="container">
      <div class="row">
          <% if @restaurant.confirmed? %>
             <div class="col-xs-12 col-md-6 col-md-offset-3 text-center form-box" >
            <h3 class="form-header">CRÉATION DE L'OFFRE</h3>
             <p class='grey-text'>*Tous les champs du formulaire sont obligatoires</p>
              <%= simple_form_for([@restaurant, @meal]) do |f| %>
                <%= f.input :name, label:false,  input_html: {class:"form-input-text",:maxlength => 70}, placeholder: 'Nom du plat*' %>
                  <div class="fileUpload">
                    <p class="custom-para">+ Ajouter une photo</p>
                    <%= f.file_field :picture, label:false, class:"upload", id:"upload" %>
                     <%= f.error :picture, class:"error" %>
                  </div>
                  <input id="uploadFile" placeholder="0 fichiers selectionnés" disabled="disabled" />
                <%= f.input :description, placeholder: 'Description', input_html: { class:"form-input-description",:maxlength => 170}, label: false %>
                  <div class="increment-field-block" >
                      <div class="incremented-field">
                          <span class='grey-text' >&nbsp&nbspPrix en salle</span>
                          <button type='button' class='qtyminus btn-quantity' field='meal_seated_price' >-</button>
                            <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[seated_price]" id="meal_seated_price" type="text" value="10">
                          <button type='button' class='qtyplus btn-quantity' field='meal_seated_price' >+</button>
                          <span>€</span>
                     </div>
                  </div>
                  <div class="increment-field-block">
                      <div class="incremented-field">
                          <span class='grey-text' > Prix de la box</span>
                          <input type='button' value='-' class='qtyminus btn-quantity ' field='meal_price' />
                            <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[price]" id="meal_price" type="text" value="5">
                          <input type='button' value='+' class='qtyplus btn-quantity' field='meal_price' />
                          <span>€</span>
                     </div>
                  </div>
                  <div class="increment-field-block">
                      <div class="incremented-field">
                          <span class='grey-text' >&nbsp&nbsp&nbsp&nbspQuantité</span>
                          <input type='button' value='-' class='qtyminus btn-quantity' field='meal_quantity' />
                            <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[quantity]" id="meal_quantity" type="text" value="5" min="1">
                          <input type='button' value='+' class='qtyplus btn-quantity' field='meal_quantity' />
                     </div>
                  </div>
                  <div class="form-input-time-box margin-30">
                      <h5 class='form-header'> <strong> L'offre est valable </strong>(cochez une ou deux cases)</h5>
                       <div class="checkbox">
                          <p class='grey-text' ><%= check_box_tag "meal[starting_date]", Date.today,false, id:"starting_date" %> Aujourd'hui&nbsp
                          </p>
                        <%= f.error :second_date, class:"error" %>
                       </div>
                       <div class="checkbox">
                           <p class='grey-text' ><%= check_box_tag "meal[second_date]", Date.today + 1, false, id:"second_date" %>
                            Demain&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                           </p>
                          <%= f.error :second_date, class:"error" %>
                       </div>
                        <div class="checkbox">
                           <p class='grey-text' ><%= check_box_tag "meal[permanent]", true, false, id:"permanent" %>
                            Permanente
                           </p>
                          <%= f.error :permanent, class:"error" %>
                       </div>
                  </div>

                <%= render 'meal_take_away_time_selection', :f => f %>
               <%= f.submit  "Mettre en ligne", class: "btn btn-validation " %>
               <% end %>
            </div>
          <%else %>
            <div class="text-center col-xs-12" style="height:500px;">
                <h3>Votre restaurant est en cours de validation. Une fois celui-ci validé vous pourrez poster vos offres. L'étape de validation prend entre 24 heures et 48 heures.</h3>
              <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <%= link_to "Retour", home_partner_path, class:"btn btn-validation text-center btn-margin btn-waiting" %>
              </div>
           </div>
    <% end %>
    </div>
  </div>
</div>

<!-- form new meal -->

