<div id="body-container" >
    <div class="container">
       <div class="row">

          <% current_user.restaurants.each do |restaurant| %>
          <% if restaurant.confirmed? %>


          <div class="col-xs-12 col-md-6 col-md-offset-3 text-center form-box" style="color:black;">
            <h4 class="title-illustration">CRÉATION DE VOTRE OFFRE</h4>
             <p>Créez en <strong>moins d'une minute</strong> le repas que vous souhaitez mettre en ligne</p>
                <%= simple_form_for ([@restaurant, @meal]) do |f| %>
                <%= f.input :name, label: 'Nom du plat',input_html: {:maxlength => 24, class:"form-input-radius"}, placeholder: 'boeuf bourguignon' %>
                <%= f.input :picture, label: 'Photo' %>
                <%= f.input :description, placeholder: 'Délicieux boeuf accompagné de riz' ,input_html: {:maxlength => 60, class:"form-input-radius"} %>

              <div class="col-xs-12 col-sm-6" >
                  <label class="string required control-label" for="meal_seated_price">
                   <abbr title="required">*</abbr> Prix en salle</label>
                  <div class="incremented-field">
                      <input type='button' value='-' class='qtyminus' field='meal_seated_price' />
                        <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[seated_price]" id="meal_seated_price" type="text" value="10">
                      <input type='button' value='+' class='qtyplus' field='meal_seated_price' />
                 </div>
              </div>

              <div class="col-xs-12 col-sm-6">
                  <label class="string required control-label" for="meal_price">
                   <abbr title="required">*</abbr> Prix de la box</label>
                  <div class="incremented-field">
                      <input type='button' value='-' class='qtyminus' field='meal_price' />
                        <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[price]" id="meal_price" type="text" value="5">
                      <input type='button' value='+' class='qtyplus' field='meal_price' />
                 </div>
              </div>

              <div class="col-xs-12">
                  <label class="string required control-label" for="meal_quantity">
                   <abbr title="required">*</abbr> Quantité</label>
                  <div class="incremented-field">
                      <input type='button' value='-' class='qtyminus' field='meal_quantity' />
                        <input class="string required form-control incremented-input-field form-input-radius" placeholder="0.00" name="meal[quantity]" id="meal_quantity" type="text" value="5">
                      <input type='button' value='+' class='qtyplus' field='meal_quantity' />
                 </div>
              </div>




                <p> <strong> L'offre est valable </strong>(cochez une ou deux cases)</p>
                 <div class="col-xs-6">
                 <%= f.input :starting_date, as: :boolean, checked_value: Date.today, unchecked_value: false, label:'Ce jour' %>
                 </div>
                 <div class="col-xs-6">
                 <%= f.input :second_date, as: :boolean, checked_value: Date.today + 1, unchecked_value: false, label:'Demain' %>
                 </div>

                <p> <strong> Retrait possible </strong>(cochez une ou deux cases)</p>

                 <div class="col-xs-12 col-sm-6" >
                 <%= f.input :take_away_noon, as: :boolean, label:("Le midi (#{current_user.restaurants.first.take_away_noon_starts_at.strftime('%H:%M')} - #{current_user.restaurants.first.take_away_noon_ends_at.strftime('%H:%M')}) ").html_safe, id:'take_away_noon', value:'1' %>
                 </div>
                <div class="col-xs-12 col-sm-6" >
                <%= f.input :take_away_evening, as: :boolean, label:("Le soir (#{current_user.restaurants.first.take_away_evening_starts_at.strftime('%H:%M')} - #{current_user.restaurants.first.take_away_evening_ends_at.strftime('%H:%M')}) ").html_safe %>
                </div>
               <%= f.button :submit, "Mettre en ligne", class: "btn btn-success margin-btn-validation" %>
               <% end %>
        </div>

          <%else %>

      <div id="text-center" style="height:500px;">
          <h2>Votre restaurant est en cours de validation. Une fois celui-ci validé vous pourrez poster vos offres. L'étape de validation prend entre 24 heures et 48 heures.</h2>
          <div class="text-center">
          <%= link_to "Retour", root_path, class:"btn btn-primary text-center btn-margin" %>
          </div>
     </div>


          <% end -%>
           <% end %>
     </div>
  </div>
</div>



