<!-- View md-ld -->
<div id="body-container" >
    <div class="row text-body hidden-sm hidden-xs">
           <%= render 'meals/mealshow' %>
        <div class="row hidden-xs hidden-sm" >
          <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-lg-6 col-lg-offset-0">
            <h4 class="title-body">LOCALISATION</h4>

            <div id="map1" class="border-box-shadow" style="width:100%; height:450px; border-radius:3px" ></div>





            <div class="col-xs-12 text-left" style="height:100%">
              <h4 class="title-body">INFORMATIONS SUR LE RESTAURANT</h4>
              <div  style="font-size:16px">
                <p> <%= @meal.restaurant.name %></p>
                <p> <i class="fa fa-map-marker"></i> <%= @meal.restaurant.full_address %></p>
                <p> <i class="fa fa-phone"></i> <%= @meal.restaurant.phone_number %></p>
             <!--    <div style="height:115px"></div> -->
              </div>
            </div>
          </div>
       </div>
    </div>
</div>
<!-- end view md-ld -->

<!-- view sm-xs -->

<div class="row hidden-md hidden-lg visible-xs visible-sm">
 <%= render 'meals/mealshowxs' %>
</div>


<!-- view-sm-xs -->


 <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).on('ready', function() {
                  handler = Gmaps.build('Google');


                  handler.buildMap({
                    provider: { maxZoom: 16},
                    internal: { id: 'map1' } }, function(){

                    markers = handler.addMarkers(<%= raw @restaurant_coordinates.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds().getMap();

                  });
                })


              <% end %>
            <% end %>
