<!-- View md-ld -->
<div id="body-container" >
    <div class="row text-body hidden-sm hidden-xs">
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <h4 class="title-body " style="text-align:left"> DÉTAIL DE LA BOX</h4>


          <div class="hidden-xs cart-img-size" style="background-image: url('<%=image_path @meal.picture.url(:large)%>')">
                <div class="cart-show-address">
                  <p> <i class="fa fa-map-marker"></i> <%= @meal.restaurant.street %></p>
                  <p>  <%= @meal.restaurant.postal_code %>,
                    <%= @meal.restaurant.locality %>
                  </p>
                </div>
                <div class="cart-show-name-description">
                    <p class="text-center"> <strong><%= @meal.name.upcase %> </strong> <p>
                    <p ><%= @meal.description %> <p>
                </div>
                <div class="cart-show-prices-quantity">
                  <ul id="navlist">
                      <li class="cart-show-meal-seated-price-position"> <s><%= @meal.seated_price %> € </s> </li>
                      <li class="cart-show-meal-price-position"> <%= @meal.price %> €  </li>
                       <li class="cart-show-stock-position">X <%= @meal.stock %> </li>
                  </ul>
                        <div class="grey-card">
                              <p><i class="fa fa-calendar-times-o"></i>
                                 <% if @meal.starting_date? && @meal.second_date?  %>
                                    Disponible le <strong> <%= @meal.starting_date.strftime("%d/%m/%y") %> </strong>
                                    et le <strong> <%= @meal.second_date.strftime("%d/%m/%y") %> </strong>
                                  <% elsif @meal.starting_date? %>
                                      Disponible le <strong> <%= @meal.starting_date.strftime("%d/%m/%y") %> </strong>
                                  <% elsif @meal.second_date? %>
                                      Disponible le <strong> <%= @meal.second_date.strftime("%d/%m/%y") %> </strong>
                                  <% end -%>

                              </p>
                              <p> <i class="fa fa-clock-o"></i>
                               Horaire de retrait le midi: <strong><%= @meal.take_away_noon_starts_at.strftime('%H:%M') %> </strong> à
                              <strong> <%= @meal.take_away_noon_ends_at.strftime('%H:%M') %> </p></strong>
                              <p> <i class="fa fa-clock-o"></i>
                                Horaire de retrait le soir: <strong><%= @meal.take_away_evening_starts_at.strftime('%H:%M') %> </strong> à
                              <strong> <%= @meal.take_away_evening_ends_at.strftime('%H:%M') %> </strong>
                              </p>

                              <div class="row" >
                                <div class="col-xs-12 text-center" style="margin-bottom:15px">
                                  <%= simple_form_for OrderMeal.new, url: cart_order_meals_path do |f| %>
                                    <%= f.input :quantity, collection: 1..@meal.stock, label:"Quantité" %>
                                    <%= f.input :meal_id, as: :hidden, input_html: { value: @meal.id } %>
                                    <%= f.submit "RÉSERVER", class: "btn btn-success btn-lg " %>
                                  <% end %>

                              </div>
                            </div>
                    </div>
                </div>
          </div>
      </div>




        <div class="row hidden-xs hidden-sm" >
          <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-lg-6 col-lg-offset-0">
            <h4 class="title-body">LOCALISATION</h4>

            <div id="map1" class="border-box-shadow" style="width:100%; height:450px; border-radius:3px" ></div>
            <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).on('ready', function() {
                  handler = Gmaps.build('Google');


                  handler.buildMap({
                    provider: { maxZoom: 16},
                    internal: { id: 'map1' } }, function(){

                    markers = handler.addMarkers(<%= raw @restaurant_coordinates.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds().getMap();

                  });
                })


              <% end %>
            <% end %>



            <div class="col-xs-12 text-left" style="height:100%">
              <h4 class="title-body">INFORMATIONS SUR LE RESTAURANT</h4>
              <div  style="font-size:16px">
                <p> <%= @meal.restaurant.name %></p>
                <p> <i class="fa fa-map-marker"></i> <%= @meal.restaurant.full_address %></p>
                <p> <i class="fa fa-phone"></i> <%= @meal.restaurant.phone_number %></p>
             <!--    <div style="height:115px"></div> -->
              </div>
            </div>
          </div>
       </div>
    </div>
</div>
<!-- end view md-ld -->

<!-- view sm-xs -->

  <div class="row hidden-md hidden-lg visible-xs visible-sm">
    <div class="cart-img-size-sm" style="background-image: url('<%=image_path @meal.picture.url(:medium)%>')">
                  <div class="cart-show-address">
                    <p> <i class="fa fa-map-marker"></i> <%= @meal.restaurant.street %>
                    </p>
                     <p>
                      <%= @meal.restaurant.postal_code %>,
                      <%= @meal.restaurant.locality %>
                    </p>
                  </div>
                  <div class="cart-show-name-description">
                      <p class="text-center"> <strong><%= @meal.name.upcase %> </strong> <p>
                      <p ><%= @meal.description %> <p>
                  </div>
                  <div class="cart-show-prices-quantity">
                    <ul id="navlist">
                        <li class="cart-show-meal-seated-price-position"> <s><%= @meal.seated_price %> € </s> </li>
                        <li class="cart-show-meal-price-position-xs"> <%= @meal.price %> €  </li>
                         <li class="cart-show-stock-position-xs">X <%= @meal.stock %> </li>
                    </ul>
                             <div class="grey-card" style="font-size:16px; padding:10px;">
                                <p><i class="fa fa-calendar-times-o"></i>
                                    <% if @meal.starting_date? && @meal.second_date?  %>
                                      Disponible le <strong> <%= @meal.starting_date.strftime("%d/%m/%y") %> </strong>
                                      et le <strong> <%= @meal.second_date.strftime("%d/%m/%y") %> </strong>
                                    <% elsif @meal.starting_date? %>
                                        Disponible le <strong> <%= @meal.starting_date.strftime("%d/%m/%y") %> </strong>
                                    <% elsif @meal.second_date? %>
                                        Disponible le <strong> <%= @meal.second_date.strftime("%d/%m/%y") %> </strong>
                                    <% end -%>
                                </p>
                                <p> <i class="fa fa-clock-o"></i>
                                 Retrait de <strong><%= @meal.take_away_noon_starts_at.strftime('%H:%M') %> </strong> à
                                <strong> <%= @meal.take_away_noon_ends_at.strftime('%H:%M') %></strong> et de <strong><%= @meal.take_away_evening_starts_at.strftime('%H:%M') %> </strong> à
                                <strong> <%= @meal.take_away_evening_ends_at.strftime('%H:%M') %> </p> </strong>

                                <div class="row"  >
                                  <div class="col-xs-12 text-center" style="margin-bottom:10px">
                                    <%= simple_form_for OrderMeal.new, url: cart_order_meals_path do |f| %>

                                      <ul class="list-inline">
                                        <li>
                                          <%= f.input :quantity, collection: 1..@meal.stock, label:"Quantité" %>
                                        </li>
                                         <li>
                                          <%= f.input :meal_id, as: :hidden, input_html: { value: @meal.id } %>
                                         </li>
                                          <li>
                                          <%= f.submit "RÉSERVER", class: "btn btn-success btn-lg text-center" %>
                                          </li>
                                      </ul>
                                    <% end %>
                                        <h6> <i class="fa fa-exclamation-circle"></i> Pour des raisons sanitaires les plats sont à consommer le jour de l'achat </h6>
                                  </div>
                              </div>
                  </div>
              </div>





  </div>
</div>
<!-- view-sm-xs -->
