<div class="banner-index text-center" style="padding:0px">
  <div class="card-gradient" style="padding:1px">
    <div class="row" style="margin:auto">
      <div class="col-xs-12">
        <div class="meal-banner-picture" style="background-image:url('<%= @meal.picture.url(:medium) %>'); border-radius:3px">
          <h1 id="meal-name" style="text-align:left"><%= @meal.name %></h1>
          <div style="text-align:left">
            <h1 id="meal-price"><%= @meal.price %> € </h1>
            <h1 id="meal-quantity"><%= @meal.quantity %> <i class="fa fa-cutlery"></i></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin:10px">
      <div class="col-xs-12 col-sm-6" style="margin:auto">
        <%= simple_form_for OrderMeal.new, url: cart_order_meals_path do |f| %>
          <%= f.input :quantity %>
          <%= f.input :meal_id, as: :hidden, input_html: { value: @meal.id } %>
          <%= f.submit :reserver, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <div class="grey-card">
          <h2>Information sur la boxe</h2>
          <p> Description du plat: <%= @meal.description %> <p>
          <p> La boxe est disponible le <%= @meal.starting_date %> </p>
          <p> Horaire de restrait le midi: <%= @meal.take_away_noon_starts_at.strftime('%H:%M') %> à
          <%= @meal.take_away_noon_ends_at.strftime('%H:%M') %> </p>
          <p> Horaire de restrait le soir: <%= @meal.take_away_evening_starts_at.strftime('%H:%M') %> à
          <%= @meal.take_away_evening_ends_at.strftime('%H:%M') %> </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="grey-card">
          <h2>Informations sur le restaurant</h2>
          <div class="col-xs-6">
          <p><%= @meal.restaurant.name %> </p>
          <p> Adresse<%= @meal.restaurant.full_address %> </p>
          <p> Téléphone: <%= @meal.restaurant.phone_number %> </p>
          </div>
          <div class="col-xs-6" style="margin-top:20px">
          <%= link_to :Informations, restaurants_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>

      <div>
        <h2>Map</h2>
      </div>

      <div id="map" style="width:90%; height:600px; margin:auto; margin-bottom:10px"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @restaurant_coordinates.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
