<!-- view sm-xs -->

<div class="row hidden-md hidden-lg visible-xs visible-sm">
 <%= render 'meals/mealshowxs' %>
</div>


<!-- view-sm-xs -->




<!-- View md-ld -->
<div id="body-container" >
    <div class="row hidden-sm hidden-xs">
      <div class="col-xs-8 col-xs-offset-2 meal_show_lg_global_box text-center ">
        <div class="form-header">
          <h3 > <%= @meal.restaurant.name.upcase %></h3>
          <p <i class="fa fa-map-marker"></i> <%= @meal.restaurant.full_address %></p>
          <p class="meal_show_lg_restaurant_phone"> <i class="fa fa-phone"></i> <%= @meal.restaurant.phone_number %></p>
          </div>
          <div class='col-xs-6 col-xs-offset-6 meal_show_lg_restaurant_infos'>
            <%=image_tag @meal.restaurant.picture.url(:thumb),class:"meal_show_lg_restaurant_pic"%>
                <% if @meal.take_away_noon? && @meal.take_away_evening %>
                   <div class="meal_show_lg_restaurant_openings">
                      <p>Retrait possible entre:</p>
                      <li>
                        <i class="fa fa-clock-o"></i>
                        <%= @meal.restaurant.take_away_noon_starts_at.strftime('%H:%M') %>
                        <%= @meal.restaurant.take_away_noon_ends_at.strftime('%H:%M') %>
                      </li>
                      <li>
                        <i class="fa fa-clock-o"></i>
                        <%= @meal.restaurant.take_away_evening_starts_at.strftime('%H:%M') %>
                        <%= @meal.restaurant.take_away_evening_ends_at.strftime('%H:%M') %>
                      </li>
                  </div>
                <% elsif @meal.take_away_noon? %>
                  <div class="meal_show_lg_restaurant_openings">
                    <p>Retrait possible entre:</p>
                   <li>
                      <i class="fa fa-clock-o" style="margin-bottom:18px"></i>
                      <%= @meal.restaurant.take_away_noon_starts_at.strftime('%H:%M') %>
                      <%= @meal.restaurant.take_away_noon_ends_at.strftime('%H:%M') %>
                  </li>
                 </div>
                <% elsif @meal.take_away_evening? %>
                  <div class="meal_show_lg_restaurant_openings">
                    <p>Retrait possible entre:</p>
                    <li>
                      <i class="fa fa-clock-o" style="margin-bottom:18px"></i>
                      <%= @meal.restaurant.take_away_evening_starts_at.strftime('%H:%M') %>
                      <%= @meal.restaurant.take_away_evening_ends_at.strftime('%H:%M') %>
                    </li>
                  </div>
                <% end %>
             </div>
             <%= render 'meals/mealshow' %>
            <div class="col-xs-6 ">
              <div id="map1"  class="map_show_lg" ></div>

         </div>
      </div>
    </div>
</div>
<!-- end view md-ld -->




 <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).on('ready', function() {
                  handler = Gmaps.build('Google');


                  handler.buildMap({
                    provider: { maxZoom: 16},
                    internal: { id: 'map1' } }, function(){

                    markers = handler.addMarkers(<%= raw @restaurant_coordinates.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds().getMap();

                  });
                })


              <% end %>
            <% end %>
