<!-- meta Facebook  -->

<% content_for :meta_title, "#{@meal.name} à seulement #{@meal.price} € -  #{@meal.restaurant.name}" %>
<% content_for :meta_description, @meal.description %>
<% content_for :meta_image, @meal.picture.url(:facebook) %>


<!-- meta Facebook -->

<!-- view sm-xs -->
<div class="row hidden-md hidden-lg visible-xs visible-sm">
 <%= render 'meals/meal_show_xs' %>
</div>
<!-- view-sm-xs -->
<!-- View md-ld -->
<div id="body-container" >
    <div class="row hidden-sm hidden-xs">
      <div class="col-xs-8 col-xs-offset-2 meal_show_lg_global_box text-center ">
        <div class="form-header">
          <h3 class="meal_show_lg_restaurant_name"> <%= @meal.restaurant.name.upcase %></h3>
          <p class="meal_show_lg_restaurant_phone"> <i class="fa fa-map-marker"></i> <%= @meal.restaurant.full_address %></p>
          <p class="meal_show_lg_restaurant_phone"> <i class="fa fa-phone"></i> <%= @meal.restaurant.phone_number %></p>
          </div>
             <%= render 'meals/meal_show_lg' %>
          <div class='col-xs-6 meal_show_lg_restaurant_infos'>
            <p class="meal_show_lg_take_away_date_title">RETRAIT</p>
            <%=image_tag @meal.restaurant.picture.url(:thumb),class:"meal_show_lg_restaurant_pic"%>
            <div class="meal_show_lg_take_away_date">
              <% if @meal.starting_date == Date.today && @meal.second_date == Date.today + 1 %>
                <p class="meal_show_lg_date_away_date"> <%= @date %> </p>
                <p class="meal_show_lg_date_away_date"> <%= @date_2 %> </p>
              <% else %>
                <p class="meal_show_lg_date_away_date"> <%= @date %> </p>
              <% end %>
            </div>
                <% if @meal.take_away_noon? && @meal.take_away_evening %>
                   <div class="meal_show_lg_restaurant_openings">
                      <p class="meal_show_lg_take_away_time" >
                        <i class="fa fa-clock-o"></i>
                         <%= @time_noon_starts %> - <%= @time_noon_ends %>
                      </p>
                      <p class="meal_show_lg_take_away_time">
                        <i class="fa fa-clock-o"></i>
                        <%= @time_evening_starts %> - <%= @time_evening_ends %>
                      </p>
                  </div>
                <% elsif @meal.take_away_noon? %>
                  <div class="meal_show_lg_restaurant_openings">
                   <p class="meal_show_lg_take_away_time">
                      <i class="fa fa-clock-o"></i>
                      <%= @time_noon_starts %> - <%= @time_noon_ends %>
                  </p>
                 </div>
                <% elsif @meal.take_away_evening? %>
                  <div class="meal_show_lg_restaurant_openings">
                    <p class="meal_show_lg_take_away_time">
                      <i class="fa fa-clock-o"></i>
                      <%= @time_evening_starts %> - <%= @time_evening_ends %>
                    </p>
                  </div>
                <% end %>
             </div>

            <div class="col-xs-6 ">
              <div id="map1"  class="map_show_lg" ></div>

         </div>
      </div>
    </div>
</div>
<!-- end view md-ld -->



<!-- map meal show lg -->
 <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).on('ready', function() {
                  handler = Gmaps.build('Google');


                  handler.buildMap({
                    provider: { maxZoom: 16},
                    internal: { id: 'map1' } }, function(){

                    markers = handler.addMarkers(<%= raw @restaurant_coordinates.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds().getMap();

                  });
                })


              <% end %>
            <% end %>
<!-- map meal show lg -->
