<div id="body-container" class="restaurant" >
  <div class="filter"></div>
    <div class="row" style="margin:auto">

      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <h3 id="meal-name" style="text-align:left"><%= @meal.name %></h3>
        <%= image_tag @meal.picture.url(:medium) %>


        <h4 class="border-box">
          <%= @meal.price %> € / unité</h4><h4 class="border-box"> <%= @meal.quantity %> meals dispo</h4>


        <div class="row">
          <div class="col-xs-12" style="margin-bottom:15px">
            <%= simple_form_for OrderMeal.new, url: cart_order_meals_path do |f| %>
              <%= f.input :quantity, collection: 1..@meal.quantity %>
              <%= f.input :meal_id, as: :hidden, input_html: { value: @meal.id } %>
              <%= f.submit :reserver, class: "btn btn-success lg" %>
            <% end %>
          </div>

          <div class="col-xs-12 text-left" >
            <h4>Information sur la boxe</h4>
            <div class="grey-card" style="font-size:15px">
              <p><%= @meal.description %> <p>
              <p> La boxe est disponible le <%= @meal.starting_date %> </p>
              <p> Horaire de retrait le midi: <%= @meal.take_away_noon_starts_at.strftime('%H:%M') %> à
              <%= @meal.take_away_noon_ends_at.strftime('%H:%M') %> </p>
              <p> Horaire de retrait le soir: <%= @meal.take_away_evening_starts_at.strftime('%H:%M') %> à
              <%= @meal.take_away_evening_ends_at.strftime('%H:%M') %> </p>
            </div>
          </div>
        </div>
      </div>

    <div>


    </div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3 style="opacity:0.5">Itinéraire</h3>
        <div id="map" style="width:100%; height:450px; margin:auto; margin-bottom:10px"></div>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @restaurant_coordinates.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
          <% end %>
        <% end %>

        <div class="col-xs-12 text-left" style="padding:0px">
          <h4>Informations sur le restaurant</h4>
          <div class="grey-card" style="font-size:15px">
            <p><%= @meal.restaurant.name %></p>
            <p><%= @meal.restaurant.full_address %></p>
            <p> Téléphone: <%= @meal.restaurant.phone_number %></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
