<div id="body-container"  >
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center form-box" >
        <h3 class="form-header">ÉDITER LA FICHE RESTAURANT</h3>
        <%= simple_form_for @restaurant do |f| %>
           <%= f.input :name, label: false, :placeholder => 'Nom*', input_html: {class:"form-input-text"}%>
         <%= f.input :phone_number, label: false, input_html:{class:"form-input-text", :maxlength => 10}, :placeholder => 'Téléphone*' %>
         <% if @restaurant.picture.exists? %>
            <%= image_tag @restaurant.picture.url(:thumb) %><br/>
         <% end %>
          <div class="fileUpload">
            <p class="custom-para">+ Ajouter une photo</p>
            <%= f.file_field :picture, label:false, class:"upload", id:"upload"%>
          </div>
          <%= f.error :picture, style:"color:#E08283;" %>
          <input id="uploadFile" placeholder="0 fichiers selectionnés" disabled="disabled" />
          <%= text_field_tag :full_addressuser_input_autocomplete_address, @restaurant.full_address, id:"user_input_autocomplete_address", class:"form-control form-input-text", label:false, placeholder:"Adresse du restaurant" %>
          <%= f.hidden_field  :street, :as => :hidden, label: "Numéro de votre rue", input_html: { id: "street" } %>
          <%= f.hidden_field  :postal_code, :as => :hidden, label: "Code postal", input_html: {id: "postal_code"} %>
          <%= f.hidden_field  :locality, :as => :hidden, label: "Ville", input_html: {id: "locality"} %>
          <p class="grey-text">Retrait possible(cochez une ou 2 cases)</p>
          <div class="form-input-time-box">
             <%= f.input :open_noon, as: :boolean, label: "Le midi", input_html: {id:"open_noon"} %>
            <div id="open_noon_true">
              <div class="restaurant_timepicker">
                <span>de&nbsp</span>
                <span><%= f.time_select :take_away_noon_starts_at , :label => false %> </span>
              </div>
                <div class="restaurant_timepicker">
                  <span>à&nbsp&nbsp</span>
                  <span><%= f.time_select :take_away_noon_ends_at,:label => false %> </span>
                </div>
            </div>
          </div>
          <div class="form-input-time-box">
            <%= f.input :open_evening, as: :boolean, label:"Le soir" , input_html: {id:"open_evening"}%>
            <div id="open_evening_true">
              <div class=" restaurant_timepicker">
                <span>de&nbsp</span>
                <span><%= f.time_select :take_away_evening_starts_at ,:label => false %></span>
              </div>
              <div class="restaurant_timepicker">
                  <span>à&nbsp&nbsp</span>
                  <span><%= f.time_select :take_away_evening_ends_at,:label => false%> </span>
                </div>
              </div>
            </div>
            <p class="grey-text label_closing_days">Jours de fermeture(si fermeture)</p>
            <p  class="btn_closing_days" id="closing_day_one_btn">+ Jour 1</p>
            <%= f.input :closing_day_one, label:false, collection: @days, input_html: {class:"form-input_collection", id:"closing_day_one" } %>
            <p  class="btn_closing_days" id="closing_day_two_btn">+ Jour 2</p>
            <%= f.input :closing_day_two, label:false, collection: @days, input_html: {class:"form-input_collection", id:"closing_day_two"} %>
            <%= f.input :iban, label:false, :placeholder => 'Iban*', input_html: {class:"form-input-text"} %>


          <%= f.submit  "Valider", class: "btn btn-validation" %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




