<div id="body-container"  >
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center form-box" >
        <h3 class="form-header">CRÉER LA FICHE RESTAURANT</h3>
        <p>*Tous les champs du formulaire sont obligatoires</p>

        <%= simple_form_for @restaurant do |f| %>
          <%= f.input :name, label: false, :placeholder => 'Nom*', input_html: {class:"form-input-text"}%>
          <%= f.input :phone_number, label: false, input_html:{class:"form-input-text", :maxlength => 10}, :placeholder => 'Téléphone*' %>
          <div class="form-input-picture">
            <p class="label-picture">Photo*</p>
            <%= f.file_field :picture, :required => true, label: false  %>
            <%= f.error :picture, style:"color:#E08283;" %>

          </div>
          <%= text_field_tag :full_addressuser_input_autocomplete_address,'', :required => true, id:"user_input_autocomplete_address", class:"form-control form-input-text", label:false, placeholder:"Adresse du restaurant*" %>
          <%= f.hidden_field  :street, :as => :hidden, label: "Numéro de votre rue", id: "street"  %>
          <%= f.hidden_field  :postal_code, :as => :hidden, label: "Code postal", id: "postal_code" %>
          <%= f.hidden_field  :locality, :as => :hidden, label: "Ville", id: "locality" %>
        <div class="form-input-time-box">
           <p>Horaires de retrait le midi</p>
          <div class="restaurant_timepicker">
            <span>de&nbsp</span>
            <span><%= f.time_select :take_away_noon_starts_at , :label => false %></span>
          </div>
            <div class="restaurant_timepicker">
              <span>à&nbsp&nbsp</span>
              <span><%= f.time_select :take_away_noon_ends_at,:label => false%> </span>
            </div>
        </div>
        <div class="form-input-time-box">
           <p>Horaires de retrait le soir</p>
          <div class=" restaurant_timepicker">
            <span>de&nbsp</span>
            <span><%= f.time_select :take_away_evening_starts_at ,:label => false %></span>
          </div>
            <div class="restaurant_timepicker">
              <span>à&nbsp&nbsp</span>
              <span><%= f.time_select :take_away_evening_ends_at,:label => false%> </span>
            </div>
        </div>

          <%= f.input :iban, label:false, :placeholder => 'Iban*', input_html: {class:"form-input-text"} %>


          <%= f.submit  "Valider", class: "btn btn-validation" %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>






