<div id="body-container"  >
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center form-box" >
        <h3 class="form-header">CRÉATION DE LA FICHE RESTAURANT</h3>
        <%= simple_form_for @restaurant do |f| %>

          <%= f.input :name, label: false, placeholder: 'Nom',  input_html: { class:"form-input-text"}%>
          <%= f.input :phone_number, label: false,input_html: {:maxlength => 10, class:"form-input-text"}, placeholder: 'Téléphone' %>
          <div class="form-input-picture">
            <p class="label-picture">Photo</p>
            <%= f.input :picture, label: false  %>
          </div>
          <%= text_field_tag :full_addressuser_input_autocomplete_address, '', id:"user_input_autocomplete_address", class:"form-control form-input-text", label:false, placeholder:"Adresse du restaurant" %>
          <%= f.input :street, :as => :hidden, label: "Numéro de votre rue", input_html: { id: "street" } %>
          <%= f.input :postal_code, :as => :hidden, label: "Code postal", input_html: {id: "postal_code"} %>
          <%= f.input :locality, :as => :hidden, label: "Ville", input_html: {id: "locality"} %>

         <div class="form-input-time-box">
          <p>Horaires de retrait le midi</p>
          <span>de</span>
          <%= f.input :take_away_noon_starts_at, label: false, :default => "11:00".to_time  %>
          <span>à</span>
          <%= f.input :take_away_noon_ends_at, label: false, :default => "15:00".to_time  %>
        </div>
       <div class="form-input-time-box">
        <p>Horaires de retrait le soir</p>
         <span>de</span>
          <%= f.input :take_away_evening_starts_at,label: false,:default => "19:00".to_time  %>
        <span>à</span>
          <%= f.input :take_away_evening_ends_at, label: false, :default => "22:00".to_time  %>
        </div>

       <!--    <div class="hidden-xs hidden-sm">
            <%= render 'restaurants/timeselection_lg' %>
          </div>
          <div class="hidden-md hidden-lg">
            <%= render 'restaurants/timeselection_xs' %>
          </div> -->


          <%= f.input :iban, label:false, placeholder:"Iban",  input_html: { class:"form-input-text"} %>


          <%= f.button :submit, "Valider", class: "btn btn-validation" %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





