  <div id="body-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center" style="height:500px;">

        <div class="container" >
          <h3 class="title-body">VOTRE PANIER</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Quantité</th>
                <th>Plat</th>
                <th class="text-center">Prix</th>
              </tr>
            </thead>
            <% @order.order_meals.each do |order_meal| %>
            <tbody>
              <tr>
                <td class="text-left"><%= order_meal.quantity %></td>
                <td  class="text-left"><%= order_meal.meal.name %></td>
                <td><%= order_meal.price.format %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
             <div class="thumbnail col-xs-12 col-sm-12 " style="margin:auto; border-radius:3px">
                <label >
                  <span>Montant total = <%= humanized_money_with_symbol(@amount) %></span>
                </label>
            </div>

        </div>
        <div style="margin-top:15px;">
              <%= form_tag cart_payments_path(@order) do %>


                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-name="Ma box"
                    data-description="@La Box du Chef "
                    data-amount="<%= @order.amount_cents %>"
                    data-currency="EUR"></script>

                <% end %>
        </div>




      </div>
    </div>
  </div>
</div>


