


    <div class="container text-center">
        <div class="row">
          <div clas="col-xs-12 col-sm-6">
              <h4 class="title-body">CONFIRMATION DE VOTRE COMMANDE</h4>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="text-left">Quantité</th>
                    <th>Plat</th>
                    <th class="text-center">Prix</th>
                  </tr>
                </thead>
                    <% @order.order_meals.each do |order_meal| %>

                  <tbody>
                      <tr>
                        <td><%= order_meal.quantity %></td>
                        <td  class="text-left"><%= order_meal.meal.name %></td>
                        <td><%= order_meal.price.format %></td>

                  </tbody>

              </table>*
          </div>
        </div>
    </div>


    <div>
      <h5>DATE & HORAIRES DE RETRAIT</h5>
            <p><%= order_meal.meal.name %> </p>
            <p><%= order_meal.meal.starting_date %> </p>
            <p><%= order_meal.meal.take_away_noon_starts_at %> <%= order_meal.meal.take_away_noon_ends_at %></p>
            <p><%= order_meal.meal.take_away_evening_starts_at %> <%= order_meal.meal.take_away_evening_ends_at %></p>
      <h5>LIEU DE RETRAIT</h5>

        <h4>BON APPETIT !!!</h4>
    </div>

                  <% end %>

   <div style="margin: 10px"><%= link_to "Retour sur l'index", root_path, class: "btn btn-primary" %></div>
