 <div id="body-container">
    <div class="container text-center">
      <div class="row">
        <div clas="col-xs-12 col-sm-6 col-sm-offset-3">
          <h4 class="title-body">CONFIRMATION DE VOTRE COMMANDE</h4>


            <div class="thumbnail col-xs-12 col-sm-6 col-sm-offset-3" >

              <h4><%= @order.meal.name %> x<%= @order.quantity %>   </h4>

              <p> <i class="fa fa-calendar-o"> </i>
                 <% if @order.meal.starting_date? && @order.meal.second_date?  %>
                      A retirer le <strong> <%= @order.meal.starting_date.strftime("%d/%m/%y") %> </strong>
                      ou le <strong> <%= @order.meal.second_date.strftime("%d/%m/%y") %> </strong>
                      entre:
                <% elsif @order.meal.starting_date? %>
                      A retirer le <strong> <%= @order.meal.starting_date.strftime("%d/%m/%y") %> </strong>
                      entre:
                <% elsif @order.meal.second_date? %>
                      A retirer le <strong> <%= @order.meal.second_date.strftime("%d/%m/%y") %> </strong>
                      entre:
              <% end -%>

             </p>

             <% if @order.meal.take_away_noon? && @order.meal.take_away_evening? %>
                <div class="col-xs-12 ">
                  <div class="col-xs-6">
                    <i class="fa fa-clock-o"></i> Midi
                    <p><%= @order.meal.restaurant.take_away_noon_starts_at.strftime('%H:%M') %> - <%= @order.meal.restaurant.take_away_noon_ends_at.strftime('%H:%M') %></p>
                  </div>
                   <div class="col-xs-6">
                    <i class="fa fa-clock-o"></i> Soirée
                    <p><%= @order.meal.restaurant.take_away_evening_starts_at.strftime('%H:%M') %> - <%= @order.meal.restaurant.take_away_evening_ends_at.strftime('%H:%M') %></p>
                  </div>
                </div>
              <% elsif @order.meal.take_away_noon? %>
                 <div class="col-xs-12">
                      <i class="fa fa-clock-o"></i> Midi
                      <p><%= @order.meal.restaurant.take_away_noon_starts_at.strftime('%H:%M') %> - <%= @order.meal.restaurant.take_away_noon_ends_at.strftime('%H:%M') %></p>
                 </div>
              <% elsif @order.meal.take_away_evening? %>
                 <div class="col-xs-12">
                      <i class="fa fa-clock-o"></i> Midi
                      <p><%= @order.meal.restaurant.take_away_evening_starts_at.strftime('%H:%M') %> - <%= @order.meal.restaurant.take_away_evening_ends_at.strftime('%H:%M') %></p>
                 </div>
              <% end %>

              <i class="fa fa-map-marker" style="font-size:20px;"></i>
              <p style='margin-bottom:0px;'> <i> <%= @order.meal.restaurant.name %> </i> </p>
              <p><%= @order.meal.restaurant.full_address %></p>
             <h6> <i class="fa fa-exclamation-circle"></i> Pour des raisons sanitaires les plats sont à consommer le jour de l'achat </h6>
          </div>


          <div class="col-xs-12">
            <p>Bon appetit et merci pour votre confiance !</p>
            <h6>Cliquez "mon compte" pour voir l'itinéraire</h6>
          </div>

        </div>
      </div>


      <div style="margin: 10px"><%= link_to "Accueil", root_path, class: "btn btn-primary" %>
      <%= link_to "Mon compte", user_path(current_user), class: "btn btn-primary" %></div>

    </div>

    <div style="height:80px;"></div>

</div>
