<!DOCTYPE html>
<html class='<%= "#{params[:controller]}-#{params[:action]}" %>'  lang="fr">
  <head>
    <title>La Box des Chefs | Des plats de chefs à prix cassé</title>
    <meta name="description" content="<%= meta_description %>" />
    <%= favicon_link_tag 'logo.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_url meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content=“<%= DEFAULT_META[:twitter_account] %>">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content=“<%= DEFAULT_META[:twitter_account] %>">
    <meta name="twitter:image:src" content="<%= image_url meta_image %>">

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');
    fbq('init', '910481219059267');
    fbq('track', "PageView");
    </script>
    <noscript>
      <img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=910481219059267&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <!--   Font -->
    <link href='https://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
    <!--   Font -->

    <!--   Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73057998-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!--   Google Analytics -->

  </head>
  <body>
    <%= render 'shared/navbar_home' unless @navbar_other %>
    <%= render 'shared/navbar_other' unless @navbar_home %>
    <%= render 'shared/flashes' %>
    <%= render 'layouts/modal_waiting' %>
    <%= yield %>

    <%= render 'shared/footer' unless @disable_footer %>
    <%= render 'shared/footer_xs' if @footer_xs %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBJQy3SG32KdsEkfEYA4HvjzTM3EO6jcRk" %>
    <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
    <%= yield(:after_js) %>
  </body>
</html>


