<!DOCTYPE html>
<html class='<%= "#{params[:controller]}-#{params[:action]}" %>'>
  <head>
    <title>La box du chef</title>
    <%= favicon_link_tag 'logo.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>


    <title><%= title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="event" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_url meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content=“<%= DEFAULT_META[:twitter_account] %>">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content=“<%= DEFAULT_META[:twitter_account] %>">
    <meta name="twitter:image:src" content="<%= image_url meta_image %>">

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '910481219059267');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=910481219059267&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <link href='https://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>

    <!--     Jquery -->
    <link rel="stylesheet" href="dpNumberPicker-2.x.css">
    <link rel="stylesheet" href="dpNumberPicker-2.x-skin.grey.css">


   <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.calbox.min.js"></script>
  <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.datebox.min.js"></script>




  </head>
  <body>
    <%= render 'shared/navbar_home' unless @navbar_other %>
    <%= render 'shared/navbar_other' unless @navbar_home %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/footer' unless @disable_footer %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBJQy3SG32KdsEkfEYA4HvjzTM3EO6jcRk" %>
    <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
    <%= yield(:after_js) %>
  </body>
</html>


